<template>
  <v-app id="inspire">
    <v-container>
      <v-data-table
        :headers="headers"
        :items="catalogo"
        class="elevation-1 my-3"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title
              >Agregar Estado de Resultado {{ nombre }}</v-toolbar-title
            >
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <!-- ****MODAL DE IMPORTAR DESDE EXCEL**** -->

            <v-dialog v-model="importDialog" persistent max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Importar desde Excel
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Seleccionar archivo</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-form
                      ref="importForm"
                      v-model="valid"
                      lazy-validation
                      @submit.prevent
                    >
                      <v-row>
                        <v-file-input
                          v-model="archivoExcel"
                          label="Archivo de Excel"
                          truncate-length="20"
                          :rules="archivoExcelRules"
                        >
                        </v-file-input>
                        <v-tooltip top col="2">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn icon v-bind="attrs" v-on="on">
                              <v-icon color="grey lighten-1"
                                >mdi-help-circle</v-icon
                              >
                            </v-btn>
                          </template>
                          <p>
                            El archivo a subir debe tener el siguiente formato:
                          </p>
                          <p>
                            - Debe tenerer en su primera columna el nombre de la
                            cuenta.
                          </p>
                          <p>
                            - Debe tener en la segunda columna el valor de la
                            cuenta.
                          </p>
                          <p>
                            - El nombre de la cuenta puede ser alfanumerico.
                          </p>
                          <p>
                            - El valor de la cuenta debe de ser un dato
                            numérico.
                          </p>
                        </v-tooltip>
                      </v-row>
                      <small>* El campo es requerido</small>
                    </v-form>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="importDialog = false"
                  >
                    Cancelar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="importarValores">
                    Importar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <!-- *******FIN MODAL DE IMPORTAR DESDE EXCEL *****-->

            <v-dialog v-model="dialog" max-width="500px">
              <v-card>
                <v-card-title>
                  <span class="headline">Editar Valor</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-form
                      ref="form"
                      v-model="valid"
                      lazy-validation
                      @submit.prevent
                    >
                      <v-text-field
                        v-model="editedItem.valor"
                        label="Monto"
                        :rules="campoRequerido"
                        required
                        prefix="$"
                        outlined
                        @keyup.enter="save"
                      >
                      </v-text-field>
                    </v-form>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close">
                    Cancelar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="save">
                    Guardar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>

        <template v-slot:item.decremento="{ item }">
          <template v-if="item.calculado"> = </template>
          <template v-else>
            <template v-if="item.decremento"> - </template>
            <template v-else> + </template>
          </template>
        </template>

        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
            v-if="!item.calculado"
          >
            mdi-pencil
          </v-icon>
        </template>

        <template v-slot:no-data> Sin datos </template>
      </v-data-table>
    </v-container>

    <v-container class="d-inline-flex mb-4">
      <v-form ref="form2" v-model="valid" lazy-validation @submit.prevent>
        <v-row class="ml-auto">
          <v-col class="mr-auto">
            <v-text-field
              v-model="anio"
              :rules="reglasAnio"
              label="Año"
              dense
              required
              @keyup.enter="store"
            ></v-text-field
          ></v-col>
          <v-col class="ml-auto ml-3">
            <v-btn color="teal lighten-4" class="mr-4" @click="store">
              Guardar
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-container>

    <v-snackbar v-model="snack" :timeout="timeout" :color="snackColor">
      {{ snackText }}
      <template v-slot:action="{ attrs }">
        <v-btn v-bind="attrs" text @click="snack = false"> Cerrar </v-btn>
      </template>
    </v-snackbar>
  </v-app>
</template>

<script>
export default {
  props: ["empresa", "nombre"],
  data: () => ({
    anio: "",
    timeout: 2000,
    snack: false,
    snackColor: "",
    snackText: "",
    dialog: false,
    dialogDelete: false,
    importDialog: false, // modal de importar
    archivoExcel: [], // archivo a importar
    valores: [], // array con los valores a insertar
    valid: true,
    campoRequerido: [
      (v) => !!v || "Campo Requerido",
      (v) => parseFloat(v) == v || "Debe ser un número",
    ],
    reglasAnio: [
      (v) => !!v || "Campo Obligatorio",
      (v) => (v && v.length <= 4) || "Debe contener menos de 4 digitos",
      (v) => parseInt(v) == v || "Solo digitos",
    ],
    archivoExcelRules: [
      (value) => value != false || value.length || "Este campo es requerido.",
    ],
    headers: [
      {
        text: "Identificador",
        value: "id",
        align: "start",
        sortable: false,
      },
      {
        text: "Nomenclatura",
        value: "nomenclatura",
        align: "start",
        sortable: false,
      },
      {
        text: "Nombre Cuenta",
        value: "nombre",
        align: "start",
        sortable: false,
      },
      {
        text: "Valor $",
        value: "valor",
        align: "start",
        sortable: false,
      },
      {
        text: "Operacion",
        value: "decremento",
        sortable: false,
        align: "center",
      },
      { text: "Accion", value: "actions", sortable: false },
    ],
    catalogo: [],
    editedIndex: -1,
    editedItem: {
      nombre: "",
    },
    defaultItem: {
      nombre: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nueva Cuenta" : "Editar Cuenta";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      axios
        .get("/api/estadoresultado/" + this.empresa)
        .then((response) => {
          this.catalogo = response.data.data;
          this.catalogo.forEach((element) => {
            element.valor = 0;
          });
        })
        .catch((error) => {
          if (error.response.status == 401) {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "No tiene permisos";
            return;
          }
          this.snack = true;
          this.snackColor = "error";
          this.snackText = "Debe ingresar estructura base";
          console.log(error);
        });
    },

    editItem(item) {
      this.editedIndex = this.catalogo.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        //comente porque da error no se por que
        //this.$refs.form.reset();
        //this.$refs.form.resetValidation();
      });
    },

    closeDelete() {
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        Object.assign(this.catalogo[this.editedIndex], this.editedItem);
        this.calculoTotal();
      }
    },

    calculoTotal() {
      let total = 0;
      this.catalogo.forEach((e) => {
        if (e.calculado) {
          if (e.cuenta.length == 0) {
            e.valor = +total.toFixed(2);
            total = 0;
          } else {
            total = 0;
            let total = 0;
            let seleccionada = this.catalogo.filter((item) => {
              return e.cuenta.indexOf(item.id) > -1;
            });
            seleccionada.forEach((e) => {
              e.decremento ? (total -= +e.valor) : (total += +e.valor);
            });
            e.valor = +total.toFixed(2);
          }
        } else {
          if (e.decremento) {
            total -= e.valor;
          } else {
            total += e.valor;
          }
        }
      });
      this.close();
    },

    store() {
      if (this.$refs.form2.validate()) {
        axios
          .post("/api/estadoresultado", {
            id: this.empresa,
            catalogo: this.catalogo,
            anio: this.anio,
          })
          .then((response) => {
            if (response.data != undefined) {
              if (response.data.id == 0) {
                this.snack = true;
                this.snackColor = "info";
                this.snackText = response.data.mensaje;
                this.catalogo.forEach((element) => {
                  element.valor = 0;
                });
                this.catalogo.push("");
                this.catalogo.pop();
              } else {
                this.snack = true;
                this.snackColor = "error";
                this.snackText = response.data.mensaje;
              }
            }
          })
          .catch((error) => {
            if (error.response.status == 401) {
              this.snack = true;
              this.snackColor = "error";
              this.snackText = "No tiene permisos";
              return;
            }
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "Ocurrio un error";
            console.log(error.response.status);
          });
      }
    },
    //  IMPORTAR EL CATALOGO DESDE ARCHIVO DE EXCEL
    importarValores() {
      let cuentasComp = [];
      this.catalogo.forEach((c) => {
        cuentasComp.push(c.nombre);
      });
      console.log("cuentas compare");
      console.log(cuentasComp);

      if (this.$refs.importForm.validate()) {
        //validar campo de archivo requerido
        this.importDialog = false;
        let datosImportar = new FormData();
        datosImportar.append("valores", this.archivoExcel);

        axios
          .post("/importar-valores-balance", datosImportar, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            this.valores = response.data.valoresImportados;
            console.log("valores retorno");
            console.log(this.valores);

            //actualizar la tabla con los valores importados
            if (!response.data.error) {
              let i = 0;
              this.catalogo.forEach((element) => {
                element.valor = this.valores[i++][2];
              });
              this.snackColor = "info";
            } else {
              this.snackColor = "danger";
            }
            console.log("catalogo final");
            console.log(this.catalogo);

            this.snackText = response.data.mensaje;
            this.snack = true;
            this.$refs.importForm.reset();
            this.$refs.importForm.resetValidation();
            this.calculoTotal();
          })
          .catch((error) => {
            this.snackText = "Ocurrio un error inesperado.";
            this.snack = true;
            console.log(error);
          });
      } else {
        this.$refs.importForm.reset();
        this.$refs.importForm.resetValidation();
      }
      this.archivoExcel = [];
    },
  },
};
</script>