<template>
  <v-app id="inspire">
    <v-container>
      <v-data-table
        :headers="headers"
        :items="catalogo"
        class="elevation-1 my-3"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title
              >Agregar Balance General {{ nombre }}</v-toolbar-title
            >
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>

            <!-- ****MODAL DE IMPORTAR DESDE EXCEL**** -->
            <v-dialog v-model="importDialog" persistent max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Importar desde Excel
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Seleccionar archivo</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-form
                      ref="importForm"
                      v-model="valid"
                      lazy-validation
                      @submit.prevent
                    >
                      <v-row>
                        <v-file-input
                          v-model="archivoExcel"
                          label="Archivo de Excel"
                          truncate-length="15"
                          :rules="archivoExcelRules"
                        >
                        </v-file-input>
                        <v-tooltip top col="2">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn icon v-bind="attrs" v-on="on">
                              <v-icon color="grey lighten-1"
                                >mdi-help-circle</v-icon
                              >
                            </v-btn>
                          </template>
                          <p>
                            El archivo a subir debe tener el siguiente formato:
                          </p>
                          <p>
                            - Debe tenerer en su primera columna el nombre de la
                            cuenta.
                          </p>
                          <p>
                            - Debe tener en la segunda columna el valor de la
                            cuenta.
                          </p>
                          <p>
                            - El nombre de la cuenta puede ser alfanumerico.
                          </p>
                          <p>
                            - El valor de la cuenta debe de ser un dato
                            numérico.
                          </p>
                          <p>- El valor de la cuenta no debe estar vacío.</p>
                        </v-tooltip>
                      </v-row>
                      <small>* El campo es requerido</small>
                    </v-form>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="importDialog = false"
                  >
                    Cancelar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="importarValores">
                    Importar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <!-- *******FIN MODAL DE IMPORTAR DESDE EXCEL *****-->
            <v-dialog v-model="dialog" max-width="500px">
              <v-card>
                <v-card-title>
                  <span class="headline">Editar Valor</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="12">
                        <template>
                          <v-form
                            ref="form"
                            @submit.prevent
                            v-model="valid"
                            lazy-validation
                          >
                            <v-text-field
                              v-model="cuentaActual.valor"
                              :rules="campoRequerido"
                              label="Monto de la cuenta"
                              @keyup.enter="save"
                              outlined
                              prefix="$"
                              autofocus
                            >
                            </v-text-field>
                          </v-form>
                        </template>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="cerrarModal">
                    Cancelar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="save">
                    Guardar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="actualizarTabla(item)"
            v-if="item.id.substring(2, 4) != '00'"
          >
            mdi-pencil
          </v-icon>
        </template>
        <template v-slot:no-data>
          Debe agregar la estructura del catálogo
        </template>
      </v-data-table>

      <v-container class="d-inline-flex mb-4">
        <v-form ref="form2" v-model="valid" lazy-validation @submit.prevent>
          <v-row class="ml-auto">
            <v-col class="mr-auto">
              <v-text-field
                v-model="anio"
                :rules="reglasAnio"
                label="Año"
                dense
                required
                @click.ctrl="mostrarTotal"
                @keyup.enter="store"
              ></v-text-field
            ></v-col>
            <v-col class="ml-auto ml-3">
              <v-btn color="teal lighten-4" class="mr-4" @click="store">
                Guardar
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-container>

      <v-snackbar v-model="snack" :timeout="6000" :color="snackColor">
        {{ snackText }}
        <template v-slot:action="{ attrs }">
          <v-btn v-bind="attrs" text @click="snack = false"> Cerrar </v-btn>
        </template>
      </v-snackbar>
    </v-container>
  </v-app>
</template>

<script>
export default {
  props: ["empresa", "nombre"],
  data() {
    return {
      indiceCatalogo: 0,
      mActivo: 0,
      mPasivo: 0,
      mCapital: 0,
      anio: "",
      valid: true,
      dialog: false,
      importDialog: false, //modal de importar
      archivoExcel: [], // archivo a importar
      importado: false, // para saber si los datos son importados
      valores: [], // array con los valores a insertar
      snack: false,
      snackColor: "",
      snackText: "",
      cuentaActual: { valor: 0 },
      campoRequerido: [
        (v) => !!v || "Campo Requerido",
        (v) => parseFloat(v) == v || "Debe ser un número",
      ],
      reglasAnio: [
        (v) => !!v || "Campo Obligatorio",
        (v) => (v && v.length <= 4) || "Debe contener menos de 4 digitos",
        (v) => parseInt(v) == v || "Solo digitos",
      ],
      archivoExcelRules: [
        (value) => value != false || value.length || "Este campo es requerido.",
      ],
      pagination: {},
      headers: [
        {
          text: "Catalogo",
          value: "catalogo",
          align: "center",
          sortable: false,
        },
        {
          text: "Nombre Cuenta",
          value: "nombre",
          align: "left",
          sortable: false,
        },
        {
          text: "Identificador",
          value: "id",
          align: "center",
          sortable: false,
        },
        {
          text: "Valor",
          value: "valor",
          align: "center",
          sortable: false,
        },
        { text: "Editar", value: "actions", sortable: false },
      ],
      catalogo: [],
    };
  },
  created() {
    this.loadData();
    console.log(this.catalogo);
  },
  methods: {
    loadData() {
      axios
        .get("/api/balancegeneral/" + this.empresa)
        .then((response) => {
          this.catalogo = response.data.data;
          this.catalogo.forEach((element) => {
            element.valor = 0;
          });
        })
        .catch((error) => {
          if (error.response.status == 401) {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "No tiene permisos";
            return;
          }
          this.snack = true;
          this.snackColor = "error";
          this.snackText = "Debe ingresar estructura base";
          console.log(error);
        });
    },

    save() {
      if (!this.$refs.form.validate()) {
        this.snack = true;
        this.snackColor = "error";
        this.snackText = "Debe solucionar el error";
        return;
      }
      this.dialog = false;
      this.snack = true;
      this.snackColor = "success";
      this.snackText = "Dato actualizado";

      this.catalogo[this.indiceCatalogo] = this.cuentaActual;
      this.catalogo.push({});
      this.catalogo.pop();
      this.calculoTotal();
      console.log(JSON.stringify(this.catalogo));
    },

    calculoTotal() {
      let clasesGrupos = new Set();
      for (let e of this.catalogo) {
        clasesGrupos.add(e.id.substring(0, 2));
      }
      let subGrupo = [...clasesGrupos];
      let totalGrupo = [];
      let filtroGrupo = [];
      let totalClase = [];
      subGrupo.forEach((e, i) => {
        let total = this.catalogo
          .filter((v) => v.id.startsWith(e) && v.id != e.concat("00"))
          .reduce((sum, { valor }) => sum + +valor, 0);
        totalGrupo.push(total);
        subGrupo[i] = e.concat("00");
        filtroGrupo.push({ id: subGrupo[i], valor: total });
      });
      //Asigna la sumatoria a Clase y Grupo
      subGrupo.forEach((e, i) => {
        for (let c of this.catalogo) {
          if (c.id == e) {
            Object.assign(c, { valor: totalGrupo[i].toFixed(2) });
          }
        }
      });
      //Asigna la sumatoria a Clase
      for (let i = 1; i < 4; i++) {
        let total = filtroGrupo
          .filter((v) => v.id.startsWith(i))
          .reduce((sum, { valor }) => sum + +valor, 0);
        totalClase.push({
          id: i.toString().concat("000"),
          valor: total.toFixed(2),
        });
      }
      this.catalogo.forEach((e) => {
        if (e.id == totalClase[0].id) {
          Object.assign(e, totalClase[0]);
        }
        if (e.id == totalClase[1].id) {
          Object.assign(e, totalClase[1]);
        }
        if (e.id == totalClase[2].id) {
          Object.assign(e, totalClase[2]);
        }
      });
      this.mActivo = totalClase[0].valor;
      this.mPasivo = totalClase[1].valor;
      this.mCapital = totalClase[2].valor;
    },

    actualizarTabla(item) {
      this.indiceCatalogo = this.catalogo.indexOf(item);
      this.cuentaActual = {};
      Object.assign(this.cuentaActual, item);
      this.dialog = true;
    },

    mostrarTotal() {
      this.snack = true;
      this.snackColor = "info";
      this.snackText = `${(+this.mActivo).toFixed(2)} = ${(
        +this.mPasivo + +this.mCapital
      ).toFixed(2)}`;
    },

    cerrarModal() {
      this.$refs.form.resetValidation();
      this.dialog = false;
    },

    store() {
      let pc = parseFloat(this.mPasivo) + parseFloat(this.mCapital);
      let activo = parseFloat(this.mActivo);
      pc = pc.toFixed(2);
      activo = activo.toFixed(2);
      if (activo != pc) {
        this.snack = true;
        this.snackColor = "error";
        this.snackText = "Total Activos distinto Pasivos + Patrimonio ";
        return;
      }
      if (!this.$refs.form2.validate()) return;
      if (this.$refs.form2.validate()) {
        axios
          .post("/api/balancegeneral", {
            id: this.empresa,
            catalogo: this.catalogo,
            anio: this.anio,
          })
          .then((response) => {
            console.log(response);
            if (response.data != undefined) {
              if (response.data.id == 0) {
                this.snack = true;
                this.snackColor = "info";
                this.snackText = response.data.mensaje;
                this.catalogo.forEach((element) => {
                  element.valor = 0;
                });
                this.catalogo.push("");
                this.catalogo.pop();
              } else {
                this.snack = true;
                this.snackColor = "error";
                this.snackText = response.data.mensaje;
              }
            }
          })
          .catch((error) => {
            this.snackColor = "error";
            this.snackText = "Ocurrio un error";
            this.snack = true;
            console.log(error);
          });
      }
    },
    //  IMPORTAR EL CATALOGO DESDE ARCHIVO DE EXCEL
    importarValores() {
      //this.catalogo = [];
      let cuentasComp = [];
      this.catalogo.forEach((c) => {
        cuentasComp.push(c.nombre);
      });
      console.log("cuentas compare");
      console.log(cuentasComp);

      if (this.$refs.importForm.validate()) {
        //validar campo de archivo requerido
        this.importDialog = false;
        let datosImportar = new FormData();
        datosImportar.append("valores", this.archivoExcel);

        axios
          .post("/importar-valores-balance", datosImportar, {
            headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
            this.valores = response.data.valoresImportados;
            this.valores.push({});
            console.log("valores");
            console.log(this.valores);
            if (!response.data.error) {
              if (this.campoRequerido.length != this.valores.length) {
                this.snackColor = "error";
                this.snackText = "Parece no ser el cataloo";
                this.snack = true;
              }
              this.catalogo.forEach((element, index) => {
                element.valor = this.valores[index][2];
              });
              this.snackColor = "info";
            } else {
              this.snackColor = "danger";
            }
            console.log("catalogo final");
            console.log(this.catalogo);

            this.snackText = response.data.mensaje;
            this.snack = true;
            this.$refs.importForm.resetValidation();
            this.$refs.importForm.reset();
            this.calculoTotal();
          })
          .catch((error) => {
            this.snackText = "Ocurrio un error inesperado.";
            this.snack = true;
            this.$refs.importForm.resetValidation();
            this.$refs.importForm.reset();
            console.log(error);
          });
      }

      this.archivoExcel = [];
    },
  },
};
</script>