<template>
  <v-app id="inspire">
    <v-container>
      <v-data-table
        :headers="headers"
        :items="listaRatioGrupo"
        sort-by=""
        class="elevation-1 my-3"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title>Ratio - Grupo</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>

            <!-- ******** FORMULARIO DE AGREGAR/EDITAR RATIO - GRUPO ********* -->

            <v-dialog v-model="dialog" max-width="700px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Agregar
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-form
                      ref="inputForm"
                      v-model="valid"
                      lazy-validation
                      @submit.prevent
                    >
                      <v-row>
                        <v-text-field
                          v-model="editedItem.id_ratio_grupo"
                          hidden
                        ></v-text-field>
                      </v-row>
                      <v-row>
                        <v-text-field
                          v-model="editedItem.nombre"
                          label="Nombre del Ratio"
                          :rules="nombreRules"
                        ></v-text-field>
                      </v-row>
                      <v-row>
                        <v-text-field
                          v-model="editedItem.catalogo"
                          label="Catálogo"
                          :rules="cuentasRules"
                          required
                        ></v-text-field>
                      </v-row>
                      <v-row>
                        <v-container fluid>
                          <v-textarea
                            v-model="editedItem.descripcion"
                            label="Descripción"
                            :rules="descripcionRules"
                          ></v-textarea>
                        </v-container>
                      </v-row>
                    </v-form>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close">
                    Cancelar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="save">
                    Guardar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- ******** FIN DIALOGO FORMULARIO DE AGREGAR/EDITAR RATIO - GRUPO ********* -->
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil
          </v-icon>
        </template>

        <template v-slot:no-data>
          <v-btn color="primary" @click="initialize"> Reset </v-btn>
        </template>
      </v-data-table>
    </v-container>

    <!-- **** MENSAJES DE CONFIRMACION **** -->
    <v-snackbar v-model="snackbar" :vertical="vertical">
      {{ textSnack }}
      <template v-slot:action="{ attrs }">
        <v-btn color="indigo" text v-bind="attrs" @click="snackbar = false">
          cerrar
        </v-btn>
      </template>
    </v-snackbar>
    <!-- **** FIN MENSAJES DE CONFIRMACION **** -->
  </v-app>
</template>

<script>
export default {
  props: ["id_empresa", "lista", "cuentas"],
  data: () => ({
    dialog: false,
    //dialogDelete: false,
    snackbar: false,
    textSnack: "",
    vertical: true,
    //para la tabla
    headers: [
      {
        text: "Id",
        align: "center",
        sortable: false,
        value: "id_ratio_grupo",
      },
      { text: "Nombre grupo", value: "nombre", sortable: false },
      { text: "Cuentas", value: "catalogo", sortable: false },
      { text: "Descripción", value: "descripcion", sortable: false },
      { text: "Acciones", value: "actions", sortable: false, align: "center" },
    ],
    //para el formulario
    valid: true,
    //cuentasChecked: [],//cuentasSelect: [],
    id_ratio_grupo: -1,
    nombre: "",
    catalogo: "",
    descripcion: "",
    listaRatioGrupo: [],
    editedIndex: -1,
    editedItem: {
      id_ratio_grupo: -1,
      nombre: "",
      catalogo: "",
      descripcion: "",
    },
    defaultItem: {
      id_ratio_grupo: -1,
      nombre: "",
      catalogo: "",
      descripcion: "",
    },
    nombreRules: [
      (value) => !!value || "Este campo es requerido.",
      (value) =>
        (value || "").length <= 65535 ||
        "Este campo solo acepta 65535 caracteres.",
      (value) => {
        const pattern = /^[áéíóúÁÉÍÓÚÑña-zA-Z0-9\s]+$/;
        return (
          pattern.test(value) || "Este campo solo acepta letras y numeros."
        );
      },
    ],

    descripcionRules: [
      (value) =>
        (value || "").length <= 65535 ||
        "Este campo solo acepta 65535 caracteres.",
    ],

    cuentasRules: [
      (value) => !!value || "Este campo es requerido.",
      (value) => {
        const pattern = /^[áéíóúÁÉÍÓÚÑña-zA-Z0-9\s\,]+$/;
        return (
          pattern.test(value) ||
          "Este campo solo acepta letras numeros y coma(,) para separarlos."
        );
      },
    ],
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Agregar" : "Editar";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    //dialogDelete (val) {val || this.closeDelete()},
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      // rellenar la tabla
      this.listaRatioGrupo = [];
      let listatemp = JSON.parse(this.lista);

      listatemp.forEach((rg) => {
        let catalogoarray = JSON.parse(rg.catalogo);
        let catalogostr = "";
        //formatear la lista de cuentas para ponerla en la tabla
        for (let i = 0; i < catalogoarray.length; i++) {
          catalogostr = catalogostr.concat(catalogoarray[i], ", ");
        }
        catalogostr = catalogostr.substring(0, catalogostr.length - 2);

        this.editedItem = {
          id_ratio_grupo: rg.id_ratio_grupo,
          nombre: rg.nombre,
          catalogo: catalogostr, //rg.catalogo,
          descripcion: rg.descripcion,
        };
        this.listaRatioGrupo.push(this.editedItem);
      });
      this.editedItem = this.defaultItem;
      // rellenar el multiple select de las cuentas
      //let cuentastemp = JSON.parse(this.cuentas);
      //cuentastemp.forEach((c) => { this.cuentasSelect.push(c.nombre_cuenta); });
    },
    editItem(item) {
      this.editedIndex = this.listaRatioGrupo.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      //this.cuentasChecked = JSON.parse(item.catalogo);
    },
    //deleteItem (item) {this.editedIndex = this.listaRatioGrupo.indexOf(item) this.editedItem = Object.assign({}, item) this.dialogDelete = true},
    //deleteItemConfirm () {this.listaRatioGrupo.splice(this.editedIndex, 1)this.closeDelete()},
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    //closeDelete () {this.dialogDelete = falsethis.$nextTick(() => {this.editedItem = Object.assign({}, this.defaultItem)this.editedIndex = -1})},
    save() {
      if (this.$refs.inputForm.validate()) {
        //let catalogoTemporal = JSON.stringify(this.cuentasChecked);//console.log(catalogoTemporal);//this.editedItem.catalogo = catalogoTemporal;
        let url = "/ratiogrupo/modificar";
        if (this.editedIndex === -1) {
          url = "/ratiogrupo/crear";
        }

        axios
          .post(url, this.editedItem)
          .then((response) => {
            console.log(response.data.id);
            this.listaRatioGrupo[
              this.listaRatioGrupo.length - 1
            ].id_ratio_grupo = response.data.id;
            this.textSnack = "Registro almacenado con éxito";
            this.snacColor = "info";
            this.$refs.inputForm.resetValidation();
            this.$refs.inputForm.reset();
          })
          .catch((error) => {
            this.textSnack = "Ocurrio un error al enviar el formulario.";
            this.snacColor = "danger";
            console.log(error);
          });

        this.snackbar = true;
        this.dialog = false;

        if (this.editedIndex > -1) {
          Object.assign(
            this.listaRatioGrupo[this.editedIndex],
            this.editedItem
          );
        } else {
          this.listaRatioGrupo.push(this.editedItem);
        }

        this.close();
      }
    },
  },
};
</script>