<template>
  <v-app>
    <v-container class="mt-1">
      <p class="font-weight-bold mt-2 pb-0 mb-0 pa-1">{{ nombre }}</p>
      <v-tabs>
        <v-tab @click="getInfo(0)">Balance General</v-tab>
        <v-tab @click="getInfo(1)">Estado de Resultado</v-tab>
        <v-tab @click="exportarDatosAnalisis(0)">Exportar a Excel</v-tab>
        <v-tab @click="exportarDatosAnalisis(1)">Exportar a PDF</v-tab>
      </v-tabs>
      <v-stepper non-linear class="mb-5 mt-5" v-model="step">
        <v-stepper-header>
          <v-stepper-step editable step="1"> Datos </v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step editable step="2">
            Análisis Horizontal
          </v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step editable step="3"> Análisis Vertical </v-stepper-step>
        </v-stepper-header>

        <v-stepper-items class="">
          <v-stepper-content step="1">
            <v-data-table
              :headers="tblDatoCabecera"
              :items="tblDato"
              class="elevation-1"
              :loading="loading"
            >
              <template v-slot:no-data> No hay datos disponibles </template>
            </v-data-table>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-data-table
              :headers="tblHorizontalCabecera"
              :items="tblHorizontal"
              class="elevation-1"
              :loading="loading"
            >
              <template v-slot:top>
                <v-toolbar flat color="white">
                  <v-col cols="6" sm="6" class="p-0">
                    <v-select
                      :change="isTwo"
                      v-model="seleccion"
                      :items="comparar"
                      chips
                      label="Seleccionar 2 columnas"
                      multiple
                      attach
                    >
                    </v-select>
                  </v-col>
                </v-toolbar>
              </template>
              <template v-slot:no-data> No hay datos disponibles </template>
            </v-data-table>
          </v-stepper-content>

          <v-stepper-content step="3">
            <v-data-table
              :headers="tblVerticalCabecera"
              :items="tblVertical"
              class="elevation-1"
              :loading="loading"
            >
              <template v-slot:no-data> No hay datos disponibles </template>
            </v-data-table>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
      <v-snackbar v-model="snack" :timeout="timeout" :color="snackColor">
        {{ snackText }}
      </v-snackbar>
    </v-container>
  </v-app>
</template>

<script>
export default {
  props: ["empresa", "nombre"],

  data: () => ({
    step: 1,
    loading: false,

    timeout: 4000,
    snack: false,
    snackColor: "indigo lighten-1",
    snackText: "",
    //Paso 1
    tblDatoCabecera: [
      { text: "ID", value: "id", sortable: false, align: "left" },
      {
        text: "Catalogo",
        value: "nomenclatura",
        sortable: false,
        align: "left",
      },
      { text: "Cuenta", value: "nombre", sortable: false, align: "left" },
    ],
    tblDato: [],
    //Paso 2
    tblHorizontalCabecera: [
      { text: "ID", value: "id", sortable: false, align: "left" },
      {
        text: "Catalogo",
        value: "nomenclatura",
        sortable: false,
        align: "left",
      },
      { text: "Cuenta", value: "nombre", sortable: false, align: "left" },
    ],
    tblHorizontal: [],
    seleccion: [],
    comparar: [],
    //Paso 3
    tblVerticalCabecera: [
      { text: "ID", value: "id", sortable: false, align: "left" },
      {
        text: "Catalogo",
        value: "nomenclatura",
        sortable: false,
        align: "left",
      },
      { text: "Cuenta", value: "nombre", sortable: false, align: "left" },
    ],
    tblVertical: [],
  }),

  created() {
    this.initialize();
  },

  computed: {
    isTwo() {
      if (this.seleccion.length == 2) {
        const izquierda = this.seleccion[0];
        const derecha = this.seleccion[1];
        let agregar = true;
        let encabezado = `${izquierda} - ${derecha}`;
        for (let x of this.tblHorizontalCabecera) {
          if (x.text == encabezado) {
            agregar = false;
          }
        }
        if (agregar) {
          let addCabecera = {
            text: encabezado,
            value: encabezado,
            sortable: false,
            align: "center",
          };
          this.tblHorizontalCabecera.push(addCabecera);
          this.tblHorizontal.forEach((element) => {
            if (element[izquierda] == 0) {
              let diferencia = element[derecha] - element[izquierda];
              diferencia = diferencia.toFixed(2);
              let porcentaje = +((diferencia / 1) * 100).toFixed(2);
              element[encabezado] = diferencia + " (" + +porcentaje + "%)";
              //element[encabezado] = "0";
            } else {
              let diferencia = element[derecha] - element[izquierda];
              diferencia = diferencia.toFixed(2);
              let porcentaje = (
                +(diferencia / element[izquierda]) * 100
              ).toFixed(2);
              element[encabezado] = diferencia + " (" + +porcentaje + "%)";
            }
          });
        }
        this.seleccion = [];
      }
      if (this.seleccion.length > 2) {
        this.seleccion.pop();
      }
    },
  },

  methods: {
    initialize() {
      axios
        .get("/api/datoempresa/0/" + this.empresa)
        .then((response) => {
          this.merge(response.data);
        })
        .catch((error) => {
          if (error.response.status == 401) {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "No tiene permisos";
            return;
          }
          console.log(error);
        });
    },
    merge(data) {
      //Anios - Cabecera
      this.tblDatoCabecera = this.tblDatoCabecera.slice(0, 3);
      this.tblHorizontalCabecera = this.tblHorizontalCabecera.slice(0, 3);
      this.tblHorizontalCabecera = this.tblHorizontalCabecera.slice(0, 3);
      this.tblDato = [];
      this.tblHorizontal = [];
      this.tblVertical = [];
      this.seleccion = [];
      this.comparar = [];
      if (data.listaAnio.length > 0) {
        this.snack = true;
        this.snackText = `Datos de la empresa: ${data.listaAnio.length}`;
      } else {
        this.snack = true;
        this.snackText = "No ha ingresado datos de la empresa";
      }
      for (let e of data.listaAnio) {
        this.comparar.push(e.anio);
        this.tblDatoCabecera.push({
          text: `Año ${e.anio}`,
          value: `${e.anio}`,
          sortable: false,
          align: "right",
        });
      }
      //Fila de datos
      for (let e in data.dato) {
        let valor = data.dato[e];
        valor = valor.reduce((accumulator, currentValue) =>
          Object.assign(accumulator, currentValue)
        );
        this.tblDato.push(valor);
      }
      //Asigna a las nuevas tablas
      this.tblHorizontalCabecera = [...this.tblDatoCabecera];
      this.tblHorizontal = [...this.tblDato];
      this.tblVerticalCabecera = [...this.tblDatoCabecera];
      this.tblVertical = [...this.tblDato];
      this.agregarVertical();
    },
    agregarVertical() {
      let total = 0;
      let vertical = 0;
      let cadena = "";
      this.comparar.forEach((e) => {
        total = 0;
        vertical = 0;
        this.tblVertical.forEach((d) => {
          if (d.id == "1000" || d.id == "000") {
            total = d[e];
          }
          //Solo para balance general
          if (d.id[0] != "1" && d.id.length == 4) {
            total = this.tblVertical[this.tblVertical.length - 1][e];
          }
          cadena = `${e}p`;
          vertical = ((d[e] / total) * 100).toFixed(2) + "%";
          if (total == 0) vertical = "0%";
          Object.assign(d, { [cadena]: vertical });
        });
        this.tblVerticalCabecera.push({
          text: e + "%",
          value: cadena,
          sortable: false,
          align: "right",
        });
      });
    },
    getInfo(e) {
      axios
        .get("/api/datoempresa/" + e + "/" + this.empresa)
        .then((response) => {
          this.merge(response.data);
        })
        .catch((error) => {
          if (error.response.status == 401) {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "No tiene permisos";
            return;
          }
          console.log(error);
        });
    },
    exportarDatosAnalisis(i) {
      this.loading = true;
      let cabecerasExport = [];
      let filasExport = [];

      //ver si la tabla tiene datos
      if (this.tblDato.length == 0) {
        this.snackText = "La tabla esta vacia.";
        this.snackColor = "warning";
        this.snack = true;
        return;
      }

      //preparar cabeceras
      let cabExportTemp = [];
      if (this.step == 1) {
        cabExportTemp = this.tblDatoCabecera;
      }
      if (this.step == 2) {
        cabExportTemp = this.tblHorizontalCabecera;
      }
      if (this.step == 3) {
        cabExportTemp = this.tblVerticalCabecera;
      }

      let cabKey = []; //para llaves
      for (let i = 0; i < cabExportTemp.length; i++) {
        cabecerasExport.push(cabExportTemp[i]["text"]);
        cabKey.push(cabExportTemp[i]["value"]);
      }
      console.log(cabKey);
      //preparar datos
      for (let i = 0; i < this.tblDato.length; i++) {
        let filaTemp = [];
        for (let j = 0; j < cabKey.length; j++) {
          filaTemp.push(this.tblDato[i][cabKey[j]]);
        }
        filasExport.push(filaTemp);
      }

      let datosExportar = [cabecerasExport];
      datosExportar = datosExportar.concat(filasExport);

      if (i == 1) {
        //Parte Miguel
        axios
          .post("/api/exportar/analisis/pdf", {
            datos: datosExportar,
          })
          .then((response) => {
            console.log(response.data.url);
            window.open(response.data.url, "_blank");
            this.snack = true;
            this.snackColor = "info";
            this.snackText = "Datos cargados";
          })
          .catch((error) => {
            if (error.response.status == 401) {
              this.snack = true;
              this.snackColor = "error";
              this.snackText = "No tiene permisos";
            }
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "Ocurrio un error";
            console.log(error);
          });
        this.loading = false;
        return;
      }

      axios
        .post("/exportar-analisis", datosExportar)
        .then((response) => {
          //para descargar el archivo
          console.log(response.data.ruta);
          window.location.href = response.data.ruta;
          // window.open(
          //   response.data.ruta,
          //   "_blank",
          //   "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400"
          // );
          this.snackText = "Archivo generado.";
          this.snackColor = "info";
          this.snack = true;
        })
        .catch((error) => {
          console.log(error);
          this.snackText = "Ocurrio un error al generar el archivo.";
          this.snackColor = "danger";
          this.snack = true;
        });
      this.loading = false;
    },
  },
};
</script>