<template>
  <v-app id="inspire">
    <v-stepper v-model="e1" class="ma-5">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1">
          Agregar Catalogo
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 2" step="2">
          Seleccionar Clases
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step step="3"> Seleccionar Grupo </v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1">
          <v-card class="mb-12" color="grey lighten-1">
            <v-data-table
              :headers="headers"
              :items="catalogo"
              class="elevation-1"
            >
              <template v-slot:top>
                <v-toolbar flat>
                  <v-toolbar-title
                    >Estructura del Cátalogo {{ nombre }}</v-toolbar-title
                  >
                  <v-divider class="mx-4" inset vertical></v-divider>
                  <v-spacer></v-spacer>

                  <!-- ****MODAL DE IMPORTAR DESDE EXCEL**** -->

                  <v-dialog v-model="importDialog" persistent max-width="500px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        v-bind="attrs"
                        v-on="on"
                      >
                        Importar desde Excel
                      </v-btn>
                    </template>
                    <v-card>
                      <v-card-title>
                        <span class="headline">Seleccionar archivo</span>
                      </v-card-title>
                      <v-card-text>
                        <v-container>
                          <v-form
                            ref="importForm"
                            v-model="valid"
                            lazy-validation
                            @submit.prevent
                          >
                            <v-row>
                              <v-file-input
                                v-model="archivoExcel"
                                label="Archivo de Excel"
                                truncate-length="20"
                                accept=".xlsx,.xls"
                                :rules="archivoExcelRules"
                              >
                              </v-file-input>
                               <v-tooltip top col="2">
                                <template v-slot:activator="{ on, attrs }">
                                  <v-btn icon v-bind="attrs" v-on="on">
                                    <v-icon color="grey lighten-1">mdi-help-circle</v-icon>
                                  </v-btn>
                                </template>
                                <p>El archivo a subir debe tener el siguiente formato: </p>
                                <p>- Debe tenerer en su primera columna la identificacion del catalogo de la cuenta.</p>
                                <p>- Debe tener en la segunda columna el nombre de la cuenta.</p>
                                <p>- El nombre de la cuenta no debe de ser solo numerico. </p>
                              </v-tooltip>
                            </v-row>
                            <small>* El campo es requerido</small>
                          </v-form>                          
                        </v-container>                          
                        
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="importDialog = false"
                        >
                          Cancelar
                        </v-btn>
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="importarCatalogo"
                        >
                          Importar
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>

                  <!-- *******FIN MODAL DE IMPORTAR DESDE EXCEL *****-->

                  <v-divider class="mx-4" inset vertical></v-divider>

                  <v-dialog v-model="dialog" max-width="500px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        v-bind="attrs"
                        v-on="on"
                      >
                        Nueva Cuenta
                      </v-btn>
                    </template>
                    <v-card>
                      <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                      </v-card-title>

                      <v-card-text>
                        <v-container>
                          <v-form ref="form" v-model="valid" lazy-validation>
                            <v-text-field
                              v-model="editedItem.catalogo"
                              label="Nomenclatura"
                              :rules="[(v) => !!v || 'Campo Requerido']"
                              required
                              @keyup.enter="save"
                            >
                            </v-text-field>
                            <v-text-field
                              v-model="editedItem.nombre"
                              label="Nombre Cuenta"
                              :rules="[(v) => !!v || 'Campo Requerido']"
                              required
                              @keyup.enter="save"
                            >
                            </v-text-field>
                          </v-form>
                        </v-container>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="close">
                          Cancelar
                        </v-btn>
                        <v-btn color="blue darken-1" text @click="save">
                          Guardar
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogDelete" max-width="500px">
                    <v-card>
                      <v-card-title class="headline"
                        >¿Desea eliminar esta cuenta?
                      </v-card-title>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closeDelete"
                          >Cancelar
                        </v-btn>
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="deleteItemConfirm"
                          >Aceptar
                        </v-btn>
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                  mdi-pencil
                </v-icon>
                <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
              </template>
              <template v-slot:no-data> Debe Agregar Cuentas </template>
            </v-data-table>
          </v-card>

          <v-btn color="primary" @click="e1 = 2"> Continuar </v-btn>
        </v-stepper-content>

        <v-stepper-content step="2">
          <v-card class="mb-12">
            <v-container fluid>
              <v-row>
                <v-col class="d-flex pa-0" cols="12" sm="12">
                  <v-select
                    :items="catalogo"
                    :return-object="noFooter"
                    v-model="seleccionClase"
                    label="Seleccionar Clase Activo, Pasivo y Capital"
                    item-text="nombre"
                    @change="crearClases"
                    multiple
                    chips
                  >
                  </v-select>
                </v-col>
              </v-row>
            </v-container>
            <v-treeview
              :items="treeView"
              v-show="showTree"
              item-text="nombre"
            ></v-treeview>
          </v-card>

          <v-btn color="primary" @click="to3 ? (e1 = 3) : (e1 = 2)">
            Continuar
          </v-btn>

          <v-btn text @click="e1 = 1"> Regresar </v-btn>
        </v-stepper-content>

        <v-stepper-content step="3">
          <v-card class="mb-12">
            <v-data-table
              v-model="seleccionGrupo"
              :headers="headersId"
              :items="catalogoConId"
              :disable-pagination="noFooter"
              :hide-default-footer="noFooter"
              class="elevation-1"
              show-select
            >
              <template v-slot:top>
                <v-toolbar flat>
                  <v-btn color="primary" dark class="mb-2" @click="nuevoGrupo">
                    Nuevo Grupo
                  </v-btn>
                </v-toolbar>
              </template>
              <template v-slot:no-data> Ingresar Datos </template>
            </v-data-table>
          </v-card>

          <v-btn color="primary" @click="store"> Guardar </v-btn>

          <v-btn text @click="e1 = 2"> Cancelar </v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
    <div class="text-center">
      <v-snackbar v-model="snackbar" :timeout="timeout" :color="snackColor">
        {{ text }}
        <template v-slot:action="{ attrs }">
          <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
            Cerrar
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </v-app>
</template>

<script>
export default {
  props: ["empresa", "nombre"],
  data: () => ({
    seleccionGrupo: [],
    current: [1, 1, 1],
    timeout: 3000,
    snackbar: false,
    text: "",
    snackColor: "primary",
    claseActual: [],
    selected: [],
    seleccionClase: [],
    noFooter: true,
    showTree: true,
    to3: false,
    e1: 1,
    dialog: false,
    dialogDelete: false,
    importDialog: false, // modal de importar
    archivoExcel: [], // archivo para importar
    valid: true,
    headers: [
      {
        text: "Catalogo",
        value: "catalogo",
        align: "start",
        sortable: false,
      },
      {
        text: "Nombre Cuenta",
        value: "nombre",
        align: "start",
        sortable: false,
      },
      { text: "Accion", value: "actions", sortable: false },
    ],
    headersId: [
      {
        text: "Catalogo",
        value: "catalogo",
        align: "start",
        sortable: false,
      },
      {
        text: "Nombre Cuenta",
        value: "nombre",
        align: "start",
        sortable: false,
      },
      {
        text: "Identificador",
        value: "id",
        align: "start",
        sortable: false,
      },
    ],
    catalogo: [],
    editedIndex: -1,
    catalogoConId: [],
    editedItem: {
      catalogo: "",
      nombre: "",
    },
    defaultItem: {
      catalogo: "",
      nombre: "",
    },
    treeView: [],
    archivoExcelRules: [
      (value) => value != false || value.length == 0 || "Este campo es requerido.",
    ],
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nueva Cuenta" : "Editar Cuenta";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
    this.e1 = 1;
  },

  methods: {
    initialize() {
      this.catalogo = [];
    },

    editItem(item) {
      this.editedIndex = this.catalogo.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      console.log(JSON.stringify(item));
      this.editedIndex = this.catalogo.indexOf(item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.catalogo.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.$refs.form.reset();
        this.$refs.form.resetValidation();
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        if (this.editedIndex > -1) {
          Object.assign(this.catalogo[this.editedIndex], this.editedItem);
        } else {
          this.catalogo.push(this.editedItem);
        }
        this.$refs.form.resetValidation();
        this.editedItem = Object.assign({}, this.defaultItem);
      }
    },

    crearClases() {
      if (this.seleccionClase.length >= 4) {
        this.seleccionClase.pop();
      }
      if (this.seleccionClase.length == 3) {
        let clase = {};
        let val = [];
        this.treeView = [];
        for (let e of this.seleccionClase) {
          val.push(this.catalogo.indexOf(e));
        }
        val.sort((a, b) => a - b);
        if (val[0] != 0) {
          this.text = "Hazlo Bien";
          this.snackbar = true;
          return;
        }

        //Primero
        clase = { ...this.catalogo[val[0]] };
        clase.children = this.catalogo.slice(val[0] + 1, val[1]);
        this.treeView.push(clase);

        //Segundo
        clase = { ...this.catalogo[val[1]] };
        clase.children = this.catalogo.slice(val[1] + 1, val[2]);
        this.treeView.push(clase);

        //Tercero
        clase = { ...this.catalogo[val[2]] };
        clase.children = this.catalogo.slice(val[2] + 1, this.catalogo.length);
        this.treeView.push(clase);

        this.showTree = true;
        //console.log(JSON.stringify(this.treeView));
        this.to3 = true;

        val.forEach((e, i) => {
          let plusi = i + 1;
          let setId = { id: (plusi * 1000).toString() };
          Object.assign(this.catalogo[e], setId);
          if (e == val[val.length - 1]) {
            let ei = 0;
            let subArray = this.catalogo.slice(
              val[i] + 1,
              this.catalogo.length
            );
            subArray.forEach((e) => {
              ei += 1;
              Object.assign(e, {
                id: (parseInt(setId.id, 16) + ei).toString(16),
              });
            });
          } else {
            let ei = 0;
            let subArray = this.catalogo.slice(val[i] + 1, val[plusi]);
            subArray.forEach((e) => {
              ei += 1;
              Object.assign(e, {
                id: (parseInt(setId.id, 16) + ei).toString(16),
              });
            });
          }
        });
        this.catalogoConId = this.catalogo;
      } else {
        this.showTree = false;
        this.to3 = false;
      }
    },

    nuevoGrupo() {
      if (this.seleccionGrupo.length != 2) {
        this.text = "Se deben seleccionar dos cuentas";
        this.snackbar = true;
        this.seleccionGrupo = [];
        return;
      }

      if (
        this.seleccionGrupo[0].id.substring(2, 4) == "00" &&
        this.seleccionGrupo[1].id.substring(2, 4) == "00"
      ) {
        this.text = "Error!! No pueden ser Clase o Grupo Principal";
        this.snackbar = true;
        this.seleccionGrupo = [];
        return;
      }

      if (
        this.seleccionGrupo[0].id.substring(1, 4) == "000" ||
        this.seleccionGrupo[1].id.substring(1, 4) == "000"
      ) {
        this.text = "Error!! No puede seleccionar la Clase Principal";
        this.snackbar = true;
        this.seleccionGrupo = [];
        return;
      }

      let superior = this.seleccionGrupo[0];
      let inferior = this.seleccionGrupo[1];

      if (superior.id[0] != inferior.id[0]) {
        this.text = "Error!! Deben ser de la misma Clase";
        this.snackbar = true;
        this.seleccionGrupo = [];
        return;
      }

      if (superior.id[1] != 0 && inferior.id[1] != 0) {
        this.text = "Error!! Trata de sobreescribir Grupos";
        this.snackbar = true;
        this.seleccionGrupo = [];
        return;
      }

      let p = [
        this.catalogoConId.indexOf(this.seleccionGrupo[0]),
        this.catalogoConId.indexOf(this.seleccionGrupo[1]),
      ];

      p.sort((a, b) => a - b);
      let subArray = this.catalogoConId.slice(p[0], p[1] + 1);
      let grupo = this.current[superior.id[0] - 1];
      let id = 0;
      let temporal = "";
      this.current[superior.id[0] - 1] += 1;

      subArray.forEach((e, y) => {
        if (y == 0) {
          temporal = [...e.id];
          temporal.splice(1, 1, grupo);
          temporal.splice(2, 2, "00");
          id = temporal.join("");
          e.id = id;
        } else {
          e.id = (parseInt(id, 16) + y).toString(16);
        }
      });

      this.text = "Nuevo grupo creado";
      this.snackbar = true;
      this.seleccionGrupo = [];
    },

    store() {
      console.log(JSON.stringify(this.catalogoConId));
      axios
        .post("/api/balancegeneral/create", {
          id: this.empresa,
          catalogo: this.catalogoConId,
        })
        .then((response) => {
          //console.log(response);
          this.text = response.data.mensaje;
          this.snackbar = true;
        })
        .catch((error) => {
          if (error.response.status == 401) {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "No tiene permisos";
            return;
          }
          this.text = "Ocurrio un error";
          this.snackbar = true;
          console.log(error);
        });
    },
    //  IMPORTAR EL CATALOGO DESDE ARCHIVO DE EXCEL
    importarCatalogo() {      
      if (this.$refs.importForm.validate()) {//validar que metio un archivo
        this.initialize();        
        this.importDialog = false;
        let datosImportar = new FormData();
        datosImportar.append("catalogo", this.archivoExcel);
        axios
          .post(
            "/importar-catalogo-balance", 
            datosImportar, 
            {headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {//console.log(response.data.catalogoImportado);console.log(this.catalogo);console.log(response.data.errColEntera);
            let responseCat = response.data.catalogoImportado;
            console.log(responseCat);
            console.log(response.data.error);
            console.log(response.data.mensaje);
            if(!response.data.error){
              let i = 0;
              responseCat.forEach((rc) => {
                this.editedItem = {
                  catalogo: responseCat[i][0],
                  nombre: responseCat[i++][1],
                };
                this.catalogo.push(this.editedItem);
              });
              this.snackColor = "info";              

            }else{
              this.snackColor = "red";
            }

            this.text = response.data.mensaje;            
            this.snackbar = true;
            this.$refs.importForm.resetValidation();
            this.$refs.importForm.reset();
          })
          .catch((error) => {
            this.text = "Ocurrio un error inesperado.";
            this.snackColor = "red";
            this.snackbar = true;            
            console.log(error);
          });
      }
      this.archivoExcel = [];
    },
  },
};
</script>