<template>
  <v-app id="inspire">
    <v-container>
      <v-data-table
        :headers="headers"
        :items="catalogo"
        class="elevation-1 my-3"
      >
        <template v-slot:top>
          <v-toolbar flat>
            <v-toolbar-title
              >Estructura Estado de Resultado {{ nombre }}</v-toolbar-title
            >

            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>

            <!-- ****MODAL DE EXPORTAR DESDE EXCEL**** -->
            <v-dialog v-model="importDialog" persistent max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Importar desde Excel
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Seleccionar archivo</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-form ref="importForm">
                      <v-row>
                        <v-file-input
                          v-model="archivoExcel"
                          label="Archivo de Excel"
                          truncate-length="20"
                          :rules="archivoExcelRules"
                        >
                        </v-file-input>
                        <v-tooltip top col="2">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn icon v-bind="attrs" v-on="on">
                              <v-icon color="grey lighten-1">mdi-help-circle</v-icon>
                            </v-btn>
                          </template>
                          <p>El archivo a subir debe tener el siguiente formato: </p>
                          <p>- Debe tenerer en su primera columna la identificacion del catalogo de la cuenta.</p>
                          <p>- Debe tener en la segunda columna el nombre de la cuenta.</p>
                          <p>- El nombre de la cuenta no debe de ser solo numerico. </p>
                        </v-tooltip>
                      </v-row>
                      <small>* El campo es requerido</small>
                    </v-form>
                  </v-container>                  
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="importDialog = false"
                  >
                    Cancelar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="importarCatalogo">
                    Importar desde excel
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <!-- *******FIN MODAL DE IMPORTAR DESDE EXCEL *****-->
            <v-divider class="mx-4" inset vertical></v-divider>

            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  Agregar
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-form
                      ref="form"
                      v-model="valid"
                      lazy-validation
                      @submit.prevent
                    >
                      <v-text-field
                        v-model="editedItem.nomenclatura"
                        label="Nomenclatura"
                        :rules="[(v) => !!v || 'Campo Requerido']"
                        required
                        :autofocus="focused"
                        @keyup.enter="save"
                      >
                      </v-text-field>
                      <v-text-field
                        v-model="editedItem.nombre"
                        label="Nombre Cuenta"
                        :rules="[(v) => !!v || 'Campo Requerido']"
                        required
                        @keyup.enter="save"
                      >
                      </v-text-field>
                    </v-form>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close">
                    Cancelar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="save">
                    Guardar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="headline"
                  >¿Desea eliminar esta cuenta?
                </v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete"
                    >Cancelar
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                    >Aceptar
                  </v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>

        <template v-slot:item.calculado="{ item }">
          <v-switch
            v-model="item.calculado"
            color="primary"
            true-value="true"
            @click="ver"
            hide-details
            class="mt-0"
          >
          </v-switch>
        </template>

        <template v-slot:item.decremento="{ item }">
          <v-switch
            v-model="item.decremento"
            color="error"
            true-value="true"
            @click="ver"
            class="mt-0"
            hide-details
          >
          </v-switch>
        </template>

        <template v-slot:item.calculado_configurado="{ item }">
          <v-icon
            small
            class="mr-2"
            v-show="item.calculado"
            @click="abrirConfiguracion(item)"
          >
            mdi-wrench
          </v-icon>
        </template>

        <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
        </template>
        <template v-slot:no-data> Sin datos </template>
      </v-data-table>
      <v-row align="center" justify="space-around">
        <v-btn depressed color="primary" @click="store"
          >Guardar Estructura</v-btn
        >
      </v-row>
    </v-container>
    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
      {{ snackText }}
      <template v-slot:action="{ attrs }">
        <v-btn v-bind="attrs" text @click="snack = false"> Cerrar </v-btn>
      </template>
    </v-snackbar>

    <template>
      <v-row justify="center">
        <v-dialog v-model="dialogConfig" max-width="500px">
          <v-card>
            <v-card-title>Seleccionar las cuentas</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-autocomplete
                v-model="cuentas"
                :items="catalogo"
                item-text="nombre"
                item-value="id"
                chips
                multiple
                label="Cuentas a utilizar"
                class="mt-5"
              ></v-autocomplete>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-btn color="blue darken-1" text @click="cerrarConfiguracion">
                Cancelar
              </v-btn>
              <v-btn color="blue darken-1" text @click="asociarCuenta">
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </template>
  </v-app>
</template>


  </v-app>
</template>

<script>
export default {
  props: ["empresa", "nombre"],
  data: () => ({
    focused: true,
    timeout: 2000,
    snack: false,
    snackColor: "",
    snackText: "",
    dialog: false,
    dialogDelete: false,
    dialogConfig: false,
    importDialog: false, // modal de importar
    archivoExcel: [], // archivo para importar
    valid: true,
    switchFlag: false,
    actual: 256,
    cuentas: [],
    headers: [
      {
        text: "Identificador",
        value: "id",
        align: "start",
        sortable: false,
      },
      {
        text: "Nomenclatura",
        value: "nomenclatura",
        align: "start",
        sortable: false,
      },
      {
        text: "Nombre Cuenta",
        value: "nombre",
        align: "start",
        sortable: false,
      },
      { text: "Calculado", value: "calculado", sortable: false },
      { text: "Restar", value: "decremento", sortable: false },
      { text: "Modificar", value: "calculado_configurado", sortable: false },
      { text: "Accion", value: "actions", sortable: false },
    ],
    catalogo: [],
    editedIndex: -1,
    editedItem: {
      nomenclatura: "",
      nombre: "",
    },
    defaultItem: {
      nomenclatura: "",
      nombre: "",
    },
    archivoExcelRules: [
      (value) => value != false || value.length == 0 || "Este campo es requerido.",
    ],
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nueva Cuenta" : "Editar Cuenta";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
    this.e1 = 1;
  },

  methods: {
    initialize() {
      this.catalogo = [];
    },

    editItem(item) {
      this.editedIndex = this.catalogo.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      console.log(JSON.stringify(item));
      this.editedIndex = this.catalogo.indexOf(item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.catalogo.splice(this.editedIndex, 1);
      this.closeDelete();
      if (this.catalogo.length == 0) this.actual = 256;
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.$refs.form.reset();
        this.$refs.form.resetValidation();
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.$refs.form.validate()) {
        if (this.editedIndex > -1) {
          Object.assign(this.catalogo[this.editedIndex], this.editedItem);
        } else {
          let nuevaCuenta = Object.assign(this.editedItem, {
            calculado: false,
            decremento: false,
            calculado_configurado: [],
            id: 0 + this.actual.toString(16).substring(1),
          });
          this.actual++;
          this.catalogo.push(nuevaCuenta);
        }
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
          this.$refs.form.reset();
          this.$refs.form.resetValidation();
        });
        console.log(JSON.stringify(this.catalogo));
        this.focused = true;
      }
    },

    ver() {
      this.catalogo.push([]);
      this.catalogo.pop();
      console.log(JSON.stringify(this.catalogo));
    },

    abrirConfiguracion(item) {
      this.editedIndex = this.catalogo.indexOf(item);
      this.cuentas = this.catalogo[this.editedIndex].calculado_configurado;
      this.dialogConfig = true;
    },

    asociarCuenta() {
      this.catalogo[this.editedIndex].calculado_configurado = this.cuentas;
      if (this.cuentas.length != 0) {
        this.snack = true;
        this.snackColor = "info";
        this.snackText = "Se han configurado las cuentas";
        this.cerrarConfiguracion();
      }
      console.log(JSON.stringify(this.catalogo));
    },

    cerrarConfiguracion() {
      this.dialogConfig = false;
      this.cuentas = [];
    },

    store() {
      console.log(JSON.stringify(this.catalogo));
      if (!this.catalogo.length) {
        this.snack = true;
        this.snackColor = "error";
        this.snackText = "Debe ingresar cuentas";
      } else {
        axios
          .post("/api/estadoresultado/create", {
            id: this.empresa,
            catalogo: this.catalogo,
          })
          .then((response) => {
            console.log(response);
            this.snack = true;
            this.snackColor = "info";
            this.snackText = response.data.mensaje;
          })
          .catch((error) => {
            if (error.response.status == 401) {
              this.snack = true;
              this.snackColor = "error";
              this.snackText = "No tiene permisos";
              return;
            }
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "Ocurrio un error";
            console.log(error);
          });
      }
    },
    //  IMPORTAR EL CATALOGO DESDE ARCHIVO DE EXCEL
    importarCatalogo() {      
      if (this.$refs.importForm.validate()) {//validar que metio un archivo
        this.initialize();
        this.importDialog = false;
        let datosImportar = new FormData();
        datosImportar.append("catalogo", this.archivoExcel);
        
        axios
          .post(
            "/importar-catalogo-resultados", 
            datosImportar, 
            {headers: { "Content-Type": "multipart/form-data" },
          })
          .then((response) => {
          //console.log(response.data.catalogoImportado);console.log(this.catalogo);console.log(response.data.errColEntera);
            let responseCat = response.data.catalogoImportado;
            console.log(responseCat);
            console.log(response.data.error);
            console.log(response.data.mensaje);
            if(!response.data.error){
              let i = 0;
              responseCat.forEach((rc) => {
                this.editedItem = {

                  nomenclatura: responseCat[i][0],
                  nombre: responseCat[i++][1],
                  calculado: false,
                  decremento: false,
                  id: 0 + this.actual.toString(16).substring(1),
                  calculado_configurado: [],                
                  //catalogo: responseCat[i][0],
                  //nombre: responseCat[i++][1],
                };
                this.actual++;
                this.catalogo.push(this.editedItem);
              });
              this.snackColor = "info";              
            }else{
              this.snackColor = "red";
            }

            this.snackText = response.data.mensaje;            
            this.snack = true;            
            this.$refs.importForm.resetValidation();
            this.$refs.importForm.reset();
          })
          .catch((error) => {
            this.snackText = "Ocurrio un error inesperado.";
            this.snackColor = "red";
            this.snack = true;            
            console.log(error);
          });
        this.archivoExcel = [];        
      }
    },
    
  },
};
</script>