<template>
  <v-app>
    <v-container class="mt-1">
      <v-container class="mb-2">
        <v-row>
          <v-col>
            <p class="font-weight-bold mt-2 pb-0 mb-0">{{ nombre }}</p>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="col-12 col-sm-4">
            <v-combobox
              v-model="seleccionSector"
              :items="itemSector"
              item-text="selecccion"
              clearable
              small-chips
              label="Ratio Financiero"
            ></v-combobox>
          </v-col>
          <v-col class="col-12 col-sm-4">
            <v-combobox
              v-model="seleccionEmpresa"
              :items="itemEmpresa"
              item-text="anio"
              clearable
              small-chips
              label="Dato disponible empresa"
            ></v-combobox>
          </v-col>
          <v-col class="col-12 col-sm-4">
            <v-btn text color="primary" @click="cargarMensaje">
              Calcular
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-btn
            class="col-md-6 col-sm-4"
            text
            color="green"
            @click="exportarDatosMensajeRazon"
          >
            Exportar a Excel
          </v-btn>
          <v-btn
            class="col-md-6 col-sm-4"
            text
            color="red"
            @click="exportarPDFDatosMensajeRazon"
          >
            Exportar a PDF
          </v-btn>
        </v-row>
      </v-container>

      <v-data-table
        :headers="tblDatoCabecera"
        :items="tblDato"
        class="elevation-1"
      >
        <template v-slot:no-data>
          <v-btn text color="primary" @click="cargarMensaje"> Calcular </v-btn>
        </template>
      </v-data-table>

      <line-chart
        v-if="showChart"
        class="mt-8"
        height="550px"
        :data="data"
        :download="true"
      ></line-chart>

      <v-snackbar v-model="snack" :timeout="timeout" :color="snackColor">
        {{ snackText }}
      </v-snackbar>
    </v-container>
  </v-app>
</template>

<script>
export default {
  props: ["empresa", "nombre", "itemempresa", "datorazon"],
  data: () => ({
    idEmpresa: 0,
    timeout: 4000,
    snack: false,
    snackColor: "indigo lighten-1",
    snackText: "",
    data: [],
    showChart: false,
    //Paso 1
    tblDatoCabecera: [
      { text: "Nombre Ratio", value: "nombre", sortable: false, align: "left" },
      {
        text: "Valor comparado",
        value: "valorComparado",
        sortable: false,
        align: "center",
      },
      {
        text: "Resultado de la empresa",
        value: "valorObtenido",
        sortable: false,
        align: "center",
      },
      { text: "Conclusión", value: "mensaje", sortable: false, align: "left" },
    ],
    tblDato: [],
    //Sector
    itemSector: [],
    seleccionSector: "",
    //Empresa
    itemEmpresa: [],
    seleccionEmpresa: "",
  }),

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.itemEmpresa = JSON.parse(this.itemempresa);
      this.idEmpresa = this.empresa;
      this.itemSector = JSON.parse(this.datorazon);
      this.itemSector.forEach((element) => {
        Object.assign(element, {
          selecccion: `${element.descripcion} - ${element.anio}`,
        });
      });
    },
    cargarMensaje() {
      if (this.seleccionSector == undefined || !this.seleccionSector) {
        this.snack = true;
        this.snackColor = "error";
        this.snackText = "Debe seleccionar las opciones";
        return;
      }
      if (this.seleccionEmpresa == undefined || !this.seleccionEmpresa) {
        this.snack = true;
        this.snackColor = "error";
        this.snackText = "Debe seleccionar las opciones";
        return;
      }

      axios
        .post("/api/razon/" + this.idEmpresa, {
          sector: this.seleccionSector,
          anio: this.seleccionEmpresa,
          empresa: this.idEmpresa,
        })
        .then((response) => {
          //console.log(response);
          this.tblDato = response.data.dato;
          this.mostrarGrafica(response.data.dato);

          this.snack = true;
          this.snackColor = "info";
          this.snackText = "Datos cargados";
        })
        .catch((error) => {
          if (error.response.status == 401) {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "No tiene permisos";
            return;
          }
          this.snack = true;
          this.snackColor = "error";
          this.snackText = "Ocurrio un error";
          console.log(error);
        });
    },

    mostrarGrafica(dato) {
      this.showChart = true;
      this.data = [];
      let valorComparado = { name: "Valor Comparado", data: {} };
      let valorObtenido = { name: "Resultado empresa", data: {} };
      dato.forEach((e) => {
        let vO = e.valorObtenido.toString().replaceAll(",", "");
        let vC = e.valorComparado.toString().replaceAll(",", "");
        if (vO <= 100 && vC <= 100) {
          valorObtenido.data[e.nombre] = vO;
          valorComparado.data[e.nombre] = vC;
        }
      });
      this.data.push(valorComparado);
      this.data.push(valorObtenido);
      console.log(JSON.stringify(valorComparado));
    },
    exportarDatosMensajeRazon() {
      let cabecerasExport = [];
      let filasExport = [];
      //ver si la tabla tiene datos
      if (this.tblDato.length == 0) {
        this.snackText = "La tabla esta vacia.";
        this.snackColor = "warning";
        this.snack = true;
        return;
      }
      //preparar cabeceras
      for (let i = 0; i < this.tblDatoCabecera.length; i++) {
        cabecerasExport.push(this.tblDatoCabecera[i].text);
      }
      //preparar filas
      for(let i = 0; i < this.tblDato.length; i++){
          //let elemento = ;
          filasExport.push([
            this.tblDato[i]["nombre"],
            this.tblDato[i]["valorComparado"],
            this.tblDato[i]["valorObtenido"],
            this.tblDato[i]["mensaje"],
          ]);        
      }

      let datosExportar = [cabecerasExport];
      //datosExportar.push(cabecerasExport)
      datosExportar = datosExportar.concat(filasExport);
      console.log(datosExportar);
      axios.post(
        '/exportar-ratio-mensaje',
        datosExportar
        ).then((response) => {
          //para descargar el archivo console.log(response.data.ruta);
          window.open(response.data.ruta, "_blank","toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=200,width=400,height=400");
          this.snackText = "Archivo generado.";
          this.snackColor = "info";
          this.snack = true; 
        }).catch((error) => {
          console.log(error);
          this.snackText = "Ocurrio un error al generar el archivo.";
          this.snackColor = "danger";
          this.snack = true;           
        });
      
    },    
    exportarPDFDatosMensajeRazon() {
      let cabecerasExport = [];
      let datosExport = [];
      let envio = [];
      if (this.tblDato.length == 0) {
        this.snackText = "La tabla esta vacia.";
        this.snackColor = "warning";
        this.snack = true;
        return;
      }
      //preparar cabeceras
      for (let i = 0; i < this.tblDatoCabecera.length; i++) {
        cabecerasExport.push(this.tblDatoCabecera[i].text);
      }
      //preparar filas
      for (let i = 0; i < this.tblDato.length; i++) {
        //let elemento = ;
        datosExport.push([
          this.tblDato[i]["nombre"],
          this.tblDato[i]["valorComparado"],
          this.tblDato[i]["valorObtenido"],
          this.tblDato[i]["mensaje"],
        ]);
      }
      console.log("datos-exportar");
      console.log(datosExport);
      // cabecerasExport.push(datosExport);
      // cabecerasExport.shift([this.nombre]);
      // envio.push([this.nombre]);
      envio.push(cabecerasExport);
      // envio.push(datosExport.flat());
      datosExport.forEach((e) => envio.push(e));

      axios
        .post("/api/exportar/pdf", {
          datos: envio,
        })
        .then((response) => {
          console.log(response);
          window.open(response.data.url, "_blank");
          console.log(response.data);

          this.snack = true;
          this.snackColor = "info";
          this.snackText = "Datos cargados";
        })
        .catch((error) => {
          if (error.response.status == 401) {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "No tiene permisos";
            return;
          }
          this.snack = true;
          this.snackColor = "error";
          this.snackText = "Ocurrio un error";
          console.log(error);
        });
    },
  },
};
</script>