<template>
  <v-app>
    <v-container class="mt-1">
      <v-tabs class="mb-3 mt-10">
        <v-tab @click="getInfo(0)">Listado de empresas</v-tab>
        <v-tab @click="getInfo(1)">Listado de sectores</v-tab>
      </v-tabs>

      <v-data-table
        :headers="tblDatoCabecera"
        :items="tblDato"
        class="elevation-1"
        v-if="!show"
      >
        <template v-slot:item.bg="{ item }">
          <v-btn text @click="redireccionar(item, 0)"> Configurar </v-btn>
          <v-btn text color="primary" @click="redireccionar(item, 1)">
            Agregar
          </v-btn>
        </template>

        <template v-slot:item.er="{ item }">
          <v-btn text @click="redireccionar(item, 2)"> Configurar </v-btn>
          <v-btn text color="primary" @click="redireccionar(item, 3)">
            Agregar
          </v-btn>
        </template>

        <template v-slot:item.accion="{ item }">
          <v-tooltip v-model="item.show1" top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                icon
                v-bind="attrs"
                v-on="on"
                @click="redireccionar(item, 4)"
              >
                <v-icon class="mr-2" @click="editItem(item)">
                  mdi-clipboard-list
                </v-icon>
              </v-btn>
            </template>
            <span>Datos empresa</span>
          </v-tooltip>

          <v-tooltip v-model="item.show2" top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                icon
                v-bind="attrs"
                v-on="on"
                @click="redireccionar(item, 5)"
              >
                <v-icon class="mr-2" @click="editItem(item)">
                  mdi-compare
                </v-icon>
              </v-btn>
            </template>
            <span>Comparar con sector</span>
          </v-tooltip>

          <v-tooltip v-model="item.show3" top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                icon
                v-bind="attrs"
                v-on="on"
                @click="redireccionar(item, 6)"
              >
                <v-icon class="mr-2" @click="editItem(item)">
                  mdi-pencil
                </v-icon>
              </v-btn>
            </template>
            <span>Configurar ratio</span>
          </v-tooltip>

          <v-tooltip v-model="item.show4" top>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                icon
                v-bind="attrs"
                v-on="on"
                @click="redireccionar(item, 7)"
              >
                <v-icon class="mr-2" @click="editItem(item)">
                  mdi-delete-alert
                </v-icon>
              </v-btn>
            </template>
            <span>Eliminar dato</span>
          </v-tooltip>
        </template>

        <template v-slot:no-data> No hay datos disponibles </template>
      </v-data-table>

      <v-card flat v-if="show">
        <v-data-table
          :headers="tblSectorCabecera"
          :items="tblSector"
          class="elevation-1"
        >
          <template v-slot:item.accion="{ item }">
            <v-tooltip v-model="item.show2" top>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  v-bind="attrs"
                  v-on="on"
                  @click="redireccionarSector(item)"
                >
                  <v-icon class="mr-2"> mdi-compare </v-icon>
                </v-btn>
              </template>
              <span>Comparar del sector</span>
            </v-tooltip>
          </template>

          <template v-slot:no-data> No hay datos disponibles </template>
        </v-data-table>
      </v-card>

    </v-container>
  </v-app>
</template>

<script>
export default {
  props: ["dato"],

  data: () => ({
    show: false,    
    //Solo para empresa
    tblDatoCabecera: [
      {
        text: "Nombre empresa",
        value: "nombre",
        sortable: false,
        align: "left",
      },
      {
        text: "Balance General",
        value: "bg",
        sortable: false,
        align: "center",
      },
      {
        text: "Estado de Resultado",
        value: "er",
        sortable: false,
        align: "center",
      },
      { text: "Accion", value: "accion", sortable: false, align: "center" },
    ],
    tblDato: [],

    //Solo Sector
    tblSectorCabecera: [
      { text: "Sector", value: "nombre", sortable: false, align: "left" },
      {
        text: "Descripción",
        value: "descripcion",
        sortable: false,
        align: "left",
      },
      { text: "Accion", value: "accion", sortable: false, align: "center" },
    ],
    tblSector: [],
  }),

  created() {
    this.initialize();
  },

  methods: {
    initialize() {      
      [this.tblDato, this.tblSector] = JSON.parse(this.dato);
    },
    redireccionar(item, accion) {
      let url = "";
      if (accion == 0) {
        url = "/balancegeneral/id_empresa/configurar";
      }
      if (accion == 1) {
        url = "/balancegeneral/id_empresa/agregar";
      }
      if (accion == 2) {
        url = "/estadoresultado/id_empresa/configurar";
      }
      if (accion == 3) {
        url = "/estadoresultado/id_empresa/agregar";
      }
      if (accion == 4) {
        url = "/empresa/id_empresa";
      }
      if (accion == 5) {
        url = "ratio/empresa/id_empresa";
      }
      if (accion == 6) {
        url = "ratio/detalle/id_empresa/configurar";
      }
      if (accion == 7) {
        url = "estados/finacieros/empresa/id_empresa";
      }
      url = url.replace("id_empresa", item.id_empresa);
      window.location.href = url;
    },

    redireccionarSector(item) {
      let url = "ratio/sector/id_sector";
      url = url.replace("id_sector", item.id_sector);
      window.location.href = url;
    },

    getInfo(e) {
      e ? (this.show = true) : (this.show = false);
    },

  },
};
</script>