<template >
  <div class="container">
    <h1>Lista de Ratios</h1>
    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#agregarRatio"
        >
          Agregar
        </button>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre ratio</th>
          <th>Grupo</th>
          <th>Accion</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="(item, index) in ratios" :key="item.id_ratio_base">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ item.nombre }}</td>
          <td>
            {{
              item.id_ratio_grupo == 1
                ? "Liquidez"
                : "" || item.id_ratio_grupo == 2
                ? "Actividad"
                : "" || item.id_ratio_grupo == 3
                ? "Apalancamiento"
                : "" || item.id_ratio_grupo == 4
                ? "Rentabilidad"
                : ""
            }}
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              @click="editarRatio(item.id_ratio_base)"
              data-toggle="modal"
              data-target="#editarRatio"
            >
              Editar
            </button>

            <button
              type="button"
              class="btn btn-danger"
              @click="eliminarRatio(item.id_ratio_base)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- **************Insertar************** -->
    <div
      class="modal fade"
      id="agregarRatio"
      tabindex="-1"
      role="dialog"
      aria-labelledby="agregarRatio"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="agregarRatio">Agregar Ratio</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Nombre ratio</label>
              <input
                v-model="nombre"
                name="nombre"
                class="form-control"
                type="text"
              />
              <!-- validacion -->
              <div v-if="errors.hasOwnProperty('nombre')">
                <small style="color: red">{{ errors.nombre[0] }}</small>
              </div>
            </div>
            <div class="form-group">
              <label for="">Grupo ratio</label>
              <select
                v-model="id_ratio_grupo"
                class="form-control"
                name="id_ratio_grupo"
                id=""
              >
                <option value="1">Liquidez</option>
                <option value="2">Actividad</option>
                <option value="3">Apalancamiento</option>
                <option value="4">Rentabilidad</option>
              </select>
              <!-- validacion -->
              <div v-if="errors.hasOwnProperty('id_ratio_grupo')">
                <small style="color: red">{{ errors.id_ratio_grupo[0] }}</small>
              </div>
            </div>
            <div class="form-group">
              <label for="">Posicion</label>
              <input
                v-model="posicion"
                name="posicion"
                class="form-control"
                type="text"
              />
            </div>
            <div class="form-group">
              <label for="">Operacion</label>
              <input
                v-model="operacion"
                name="operacion"
                class="form-control"
                type="text"
              />
              <!-- validacion -->
              <div v-if="errors.hasOwnProperty('operacion')">
                <small style="color: red">{{ errors.operacion[0] }}</small>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              id="btnSave"
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              @click.prevent="guardarRatio"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ************** Fin Insertar ************** -->

    <!-- **************EDITAR************** -->
    <div
      class="modal fade"
      id="editarRatio"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editarRatioLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editarRatioLabel">Editar Ratio</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Nombre ratio</label>
              <input
                v-model="nombreEdit"
                name="nombre"
                class="form-control"
                type="text"
              />
              <div id="e" v-if="errors.hasOwnProperty('nombre')">
                <small style="color: red">{{ errors.nombre[0] }}</small>
              </div>
            </div>
            <div class="form-group">
              <label for="">Grupo ratio</label>
              <select
                v-model="id_ratio_grupo_edit"
                class="form-control"
                name="id_ratio_grupo"
                id=""
              >
                <option value="1">Liquidez</option>
                <option value="2">Actividad</option>
                <option value="3">Apalancamiento</option>
                <option value="4">Rentabilidad</option>
              </select>
            </div>
            <div class="form-group">
              <label for="">Posicion</label>
              <input
                v-model="posicionEdit"
                name="posicion"
                class="form-control"
                type="text"
              />
            </div>
            <div class="form-group">
              <label for="">Operacion</label>
              <input
                v-model="operacionEdit"
                name="operacion"
                class="form-control"
                type="text"
              />
              <div v-if="errors.hasOwnProperty('operacion')">
                <small style="color: red">{{ errors.operacion[0] }}</small>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              id="btnAct"
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              @click.prevent="actualizarRatio"
            >
              Actualizar
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      ratios: {},
      id_ratio_base: "",

      id_ratio_grupo: "",
      nombre: "",
      posicion: "",
      operacion: "",

      nombreEdit: "",
      id_ratio_grupo_edit: "",
      posicionEdit: "",
      operacionEdit: "",
      errors: [],
    };
  },

  mounted() {
    this.getRatios();
  },

  methods: {
    getRatios() {
      console.log($(".modal-dialog"));
      axios.get("listar").then((response) => {
        this.ratios = response.data;
      });
    },

    guardarRatio() {
      this.errors = [];
      axios
        .post("guardarRatio", {
          id_ratio_grupo: this.id_ratio_grupo,
          nombre: this.nombre,
          posicion: this.posicion,
          operacion: this.operacion,
        })
        .then((response) => {
          swal({
            title: "El registro se guardo con éxito",
            icon: "success",
          });
          this.getRatios();

        })
        .catch((error) => {
          this.errors = error.response.data.errors;
          swal({
            title: "El registro no se guardo",
            text: "Completar todos los campos obligatorios",
            icon: "error",
          });
        });
    },

    editarRatio(id) {
      //this.errors = []
      axios.get("editarRatio/" + id).then((response) => {
        this.id_ratio_base = response.data.id_ratio_base;
        this.id_ratio_grupo_edit = response.data.id_ratio_grupo;
        this.nombreEdit = response.data.nombre;
        this.posicionEdit = response.data.posicion;
        this.operacionEdit = response.data.operacion;
      });
    },

    actualizarRatio() {
      this.errors = [];
      axios
        .put("actualizarRatio", {
          id_ratio_base: this.id_ratio_base,
          id_ratio_grupo: this.id_ratio_grupo_edit,
          nombre: this.nombreEdit,
          posicion: this.posicionEdit,
          operacion: this.operacionEdit,
        })
        .then((response) => {
          swal({
            title: "Registro Actualizado",
            icon: "success",
          });
          this.getRatios();
        })
        .catch((error) => {
          //this.errors = error.response.data
          //if(errors.response.status == 422)

          this.errors = error.response.data.errors;
          swal({
            title: "El registro no se Actualizo",
            text: "Completar todos los campos obligatorios",
            icon: "error",
          });
        });

      //git clone https://gitlab.com/mike743/geocimat.git

      /*  @if($errors->has('nombre_corto'))
                            <span class="invalid-feedback" role="alert">
                                <strong>{{ $errors->first('nombre_corto') }}</strong>
                            </span>
                            @endif */
    },

    eliminarRatio(id){
      
      axios
        .delete("eliminarRatio/"+id)
        .then((response) => {
          swal({
          title: "!Registro eliminado correctamente!",
          icon: "succeess",
        });
          this.getRatios();
        })
        .catch((error) => {
          swal({
          title: "!No se puede eliminar!",
          text: "Este registro esta relacionado con otra tabla",
          icon: "error",
        });
        });
      
     
    }
  },
};
</script>