<template>
  <v-app>
    <v-container class="mt-1">
      <v-container class="mb-2">
        <v-row>
          <v-col>
            <p class="font-weight-bold mt-2 pb-0 mb-0">Empresa...</p>
          </v-col>
        </v-row>        
        <v-row>          
          <v-col class="col-12 col-sm-6">
            <v-combobox
              v-model="select"
              :items="items"
              item-text="seleccion"
              @change="razonComparativa"
              small-chips
              label="Ratio Financiero"
            ></v-combobox>
          </v-col>
          <v-col class="col-12 col-sm-6">
            <v-checkbox
              v-model="superiores"
              label="Menor al promedio"
            ></v-checkbox>            
            <v-btn text color="primary" @click="exportarDatosSectorEmpresa">
              Exportar a Excel
            </v-btn>
          </v-col>
          
        </v-row>        
      </v-container>

      <v-data-table
        :headers="tblDatoCabecera"
        :items="tblDato"
        class="elevation-1"
      >
        <template v-slot:item="{ item }">
          <tr>
            <template v-for="(i, key, index) of item">
              <!--Mostrar los superiores-->
              <template v-if="!superiores">
                <td v-if="key == 'nombre_ratio'">
                  <div class="d-flex justify-start">
                    {{ i }}
                  </div>
                </td>
                <td v-else-if="key == 'promedio'">
                  <div class="d-flex justify-center">
                    {{ i }}
                  </div>
                </td>
                <td v-else-if="i >= item.promedio">
                  <div class="d-flex justify-center">
                    <v-chip color="primary" text-color="white" pill>
                      {{ i }}
                    </v-chip>
                  </div>
                </td>
                <td v-else>
                  <div class="d-flex justify-center">
                    {{ i }}
                  </div>
                </td>
              </template>
              <!--Mostrar los inferiores-->
              <template v-else>
                <td v-if="key == 'nombre_ratio'">
                  <div class="d-flex justify-start">
                    {{ i }}
                  </div>
                </td>
                <td v-else-if="key == 'promedio'">
                  <div class="d-flex justify-center">
                    {{ i }}
                  </div>
                </td>
                <td v-else-if="i < item.promedio">
                  <div class="d-flex justify-center">
                    <v-chip color="error" text-color="white" pill>
                      {{ i }}
                    </v-chip>
                  </div>
                </td>
                <td v-else>
                  <div class="d-flex justify-center">
                    {{ i }}
                  </div>
                </td>
              </template>
            </template>
          </tr>
        </template>

        <template v-slot:no-data> No hay datos disponibles </template>
      </v-data-table>
      <v-snackbar v-model="snack" :timeout="timeout" :color="snackColor">
        {{ snackText }}
      </v-snackbar>
    </v-container>
  </v-app>
</template>

<script>
export default {
  props: ["dato", "comparar"],

  data: () => ({
    timeout: 4000,
    snack: false,
    snackColor: "indigo lighten-1",
    snackText: "",
    superiores: false,
    //Paso 1
    tblDatoCabecera: [
      { text: "Nombre Ratio", value: "nombre", sortable: false, align: "left" },
      {
        text: "Valor comparado",
        value: "promedio",
        sortable: false,
        align: "center",
      },
    ],
    tblDato: [],
    //ComboBox
    items: [{ id: 0, seleccion: "Promedio empresas" }],
    select: { id: 0, seleccion: "Promedio empresas" },
    //Almacenar promedio
    promedio: [],
  }),

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      let datosRatio = JSON.parse(this.dato);
      let datoComparar = JSON.parse(this.comparar);
      datoComparar.forEach((element) => {
        Object.assign(element, {
          seleccion: `${element.descripcion} - ${element.anio}`,
        });
        this.items.push(element);
      });
      //console.log(JSON.stringify(this.items));
      //console.log(datosRatio);
      let listado = [];
      datosRatio.forEach((e) => {
        let empresa = e.empresa.replaceAll(" ", "_");
        this.tblDatoCabecera.push({
          text: e.empresa,
          value: empresa,
          sortable: false,
          align: "center",
        });

        let lista = e.lista;
        lista.forEach((r) => {
          Object.assign(r, { promedio: 0 });
          let obj = {
            [empresa]: r.valorObtenido,
            nombre_ratio: r.nombre_ratio,
          };
          Object.assign(r, obj);
          delete r.valorObtenido;
        });
        listado.push(lista);
      });

      let fila = listado[0];
      fila.map((e, i) => {
        for (let index = 1; index < listado.length; index++) {
          Object.assign(e, listado[index][i]);
        }
      });

      //Calcular Promedio
      fila.forEach((f) => {
        let cantidad = 0;
        let suma = 0;
        let promedio = 0;
        for (let l in f) {
          if (l != "nombre_ratio" && l != "promedio") {
            suma += +f[l];
            cantidad++;
          }
        }
        promedio = parseFloat((suma / cantidad).toFixed(2));
        f.promedio = promedio;
        this.promedio.push(promedio);
      });

      this.tblDato = fila;
      console.log(JSON.stringify(this.tblDatoCabecera));
      console.log(JSON.stringify(this.tblDato));
    },

    razonComparativa() {
      if (this.select == undefined) {
        return;
      }

      if (this.select.id == 0) {
        //console.log(JSON.stringify(this.select));
        this.tblDato.forEach((e, i) => (e.promedio = this.promedio[i]));
        this.snack = true;
        this.snackColor = "info";
        this.snackText = "Promedio ratio";
        return;
      }

      axios
        .post("/api/ratio/sector", this.select)
        .then((response) => {
          this.tblDato.forEach((e, i) => (e.promedio = response.data[i]));
        })
        .catch((error) => {
          if (error.response.status == 401) {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "No tiene permisos";
            return;
          }
          this.snack = true;
          this.snackColor = "error";
          this.snackText = "Ocurrio un error";
          console.log(error);
        });

      this.snack = true;
      this.snackColor = "info";
      this.snackText = "Ratios actualizados";
    },
    exportarDatosSectorEmpresa(){
      let cabecerasExport = [];
      let filasExport = [];
      //ver si la tabla tiene datos
      if(this.tblDato.length == 0){
        this.snackText = "La tabla esta vacia.";
        this.snackColor = "warning"
        this.snack = true; 
        return;
      }
      //preparar cabeceras
      for(let i = 0; i < this.tblDatoCabecera.length; i++){
        cabecerasExport.push(this.tblDatoCabecera[i].text);        
      }
      //preparar filas
      for(let i = 0; i < this.tblDato.length; i++){
          //console.log(this.tblDato[i]);
          let elemento = [];
          for (const [key, value] of Object.entries(this.tblDato[i])){
            elemento.push(value);//dk
          }
          filasExport.push(elemento);        
      }
      
      let datosExportar = [cabecerasExport];      
      datosExportar = datosExportar.concat(filasExport);

      //indicador de superior e inferior
      datosExportar[0].push("Indicador");
      for (let i = 1; i < datosExportar.length; i++) {
        if(datosExportar[i][2] < datosExportar[i][1]){
          datosExportar[i].push("menor");
        }else{
          if(datosExportar[i][2] > datosExportar[i][1]){
            datosExportar[i].push("superior");
          }else{
            datosExportar[i].push("igual");
          }
        }
      }

      console.log(datosExportar);
      axios.post(
        '/exportar-ratio-sector',
        datosExportar
        ).then((response) => {
          //para descargar el archivo console.log(response.data.ruta);
          window.open(response.data.ruta, "_blank","toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
          this.snackText = "Archivo generado.";
          this.snackColor = "info";
          this.snack = true; 
        }).catch((error) => {
          console.log(error);
          this.snackText = "Ocurrio un error al generar el archivo.";
          this.snackColor = "danger";
          this.snack = true;           
        });      
    },    
  },
};
</script>