<template>
  <v-app>
    <template>
      <v-container class="mt-3">
        <template class="mb-5">
          <v-tabs fixed-tabs background-color="indigo" dark>
            <v-tab
              v-for="(item, i) in listaClasificacion"
              :key="i"
              @click="cambio(i)"
            >
              <template v-if="item.cantidad == 0">
                <v-badge color="pink" dot>
                  {{ item.nombre }}
                </v-badge>
              </template>
              <template v-else>
                <v-badge color="pink" :content="item.cantidad">
                  {{ item.nombre }}
                </v-badge>
              </template>
            </v-tab>
          </v-tabs>
        </template>

        <p class="font-weight-bold mt-2">{{ nombre }}</p>

        <v-form ref="form" v-model="valid" lazy-validation class="mt-6">
          <div class="text-left mt-3">
            <v-chip
              class="ma-2 mt-2"
              color="blue-grey darken-1"
              outlined
              v-for="(item, i) in listaRatio"
              :key="i"
            >
              <v-icon left> mdi-server-plus </v-icon>
              {{ item.nombre }}
            </v-chip>
          </div>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title v-for="(item, i) in listaCuenta" :key="i"
                >{{ i + 1 }}. {{ item }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-row>
            <v-col cols="12" sm="12">
              <v-autocomplete
                v-model="cuentas"
                hint="Debe ingresar las cuentas en el orden de la lista"
                persistent-hint
                chips
                multiple
                :items="listado"
                item-text="nombre_cuenta"
                item-value="identificador"
                :rules="inputRule"
              >
              </v-autocomplete>
            </v-col>
          </v-row>
        </v-form>
        <v-btn class="mt-2" depressed color="primary" @click="store">
          Guardar
        </v-btn>
      </v-container>
      <v-snackbar v-model="snack" :timeout="timeout" :color="snackColor">
        {{ snackText }}
      </v-snackbar>
    </template>
  </v-app>
</template>

<script>
export default {
  props: ["empresa", "nombre"],

  data: () => ({
    valid: false,
    timeout: 4000,
    idRazon: 0,
    actual: -1,

    snack: false,
    snackColor: "primary",
    snackText: "",

    //Ratios a almacenar
    listaGuardar: [],
    //Cuentas Seleccionadas Autocomplete
    cuentas: [],
    //Dato Ratio.Catalogo
    listado: [],
    //Catalogo Cuentas
    listaCuenta: [],
    //Ratios por Grupo
    listaRatio: [],
    //Grupos Ratio
    listaClasificacion: [],
    tamanioRegla: 1,
    inputRule: [(v) => v.length == 0 || "Debe seleccionar 0 cuentas"],
  }),

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      axios
        .get("/api/gruporatio/" + this.empresa)
        .then((response) => {
          this.snack = true;
          this.snackColor = "info";
          this.snackText = response.data.mensaje;
          this.mostrarGrupo(response.data.dato_ratio, response.data.cuentas);
        })
        .catch((error) => {
          console.log(error);
          if (error.response.status == 401) {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "No tiene permisos";
            return;
          }
        });
    },

    mostrarGrupo(dato_ratio, cuentas) {
      //Mostrar Grupo Navbar
      dato_ratio.forEach((element) => {
        this.listaClasificacion.push(element);
      });
      //Cargar AutoComplete
      this.listado = cuentas;
      this.cambio(0);
    },

    cambio(i) {
      this.actual = i;
      this.$refs.form.resetValidation();
      this.$refs.form.reset();

      this.listaRatio = this.listaClasificacion[i].lista;
      this.listaCuenta = this.listaClasificacion[i].catalogo;

      this.listaCuenta == null
        ? (this.tamanioRegla = 0)
        : (this.tamanioRegla = this.listaCuenta.length);
      this.inputRule = [
        (v) =>
          v.length == this.tamanioRegla ||
          `Debe seleccionar ${this.tamanioRegla} cuentas`,
      ];

      this.listaGuardar = this.listaClasificacion[i].lista;
    },

    store() {
      let cambio = [];
      let nuevoRatio = [];
      if (this.$refs.form.validate()) {
        this.listaGuardar.forEach((e) => {
          if (!!e.posicion) {
            cambio = JSON.parse(e.posicion);
            cambio = cambio.map((i) => this.cuentas[i]);
            let [cA, cB, cC = 0] = cambio;
            nuevoRatio.push({
              id_ratio_base: e.id_ratio_base,
              id_empresa: this.empresa,
              campo1: cA,
              campo2: cB,
              campo3: cC,
            });
          }
        });

        axios
          .post("/api/gruporatio/configurar", {
            datos: nuevoRatio,
          })
          .then((response) => {
            this.snack = true;
            this.snackColor = "info";
            this.snackText = response.data.mensaje;
            this.listaClasificacion[this.actual].cantidad = nuevoRatio.length;
          })
          .catch((error) => {
            if (error.response.status == 401) {
              this.snack = true;
              this.snackColor = "error";
              this.snackText = "No tiene permisos";
              return;
            }
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "Ocurrio un error";
            console.log(error);
          });
      } else {
        this.snack = true;
        this.snackText = "Faltan cuentas por seleccionar";
        this.snackColor = "error";
      }
    },
  },
};
</script>