<template>
  <v-app>
    <v-container class="mt-1">
      <v-container class="mb-2">
        <p class="font-weight mt-2 pb-0 mb-0">
          Los resultados obtenidos pueden no ser lo esperado
        </p>
        <v-row>
          <v-col class="col-4 col-sm-4">
            <v-text-field
              v-model="apiKey"
              label="Api Key"
              @keyup.enter="mostrarCredito"
            >
            </v-text-field>
          </v-col>
          <v-col class="col-4 col-sm-4">
            <v-file-input
              accept="image/*,application/pdf"
              v-model="files"
            ></v-file-input>
          </v-col>

          <v-col class="col-4 col-sm-4">
            <v-btn text color="primary" @click="realizarPeticion">
              Obtener tabla
            </v-btn>
          </v-col>
        </v-row>
      </v-container>

      <template>
        <v-card>
          <v-card-title>
            Datos Obtenidos
            <v-spacer></v-spacer>
            <v-btn text color="teal darken-3" @click="descargar">
              Descargar tabla
            </v-btn>
          </v-card-title>
          <v-data-table
            :headers="tblDatoCabecera"
            :items="tblDato"
            class="elevation-1"
            :loading="loading"
          >
            <template v-slot:item.accion="{ item }">
              <v-icon small @click="eliminar(item)"> mdi-delete </v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn text color="primary" @click="realizarPeticion">
                Obtener Tabla
              </v-btn>
            </template>
          </v-data-table>
        </v-card>
      </template>
      <v-col class="col-12 col-sm-12">
        <v-text-field
          v-model="jobID"
          label="Buscar por Job ID"
          @keyup.enter="consultarJob"
        >
        </v-text-field>
      </v-col>
      <v-snackbar v-model="snack" :timeout="timeout" :color="snackColor">
        {{ snackText }}
      </v-snackbar>
    </v-container>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    //Var api OCR
    apiKey: "",
    files: [],
    jobID: "",

    //Var snackbar
    timeout: 4000,
    snack: false,
    snackColor: "indigo lighten-1",
    snackText: "",

    //Var tabla
    loading: false,
    tblDatoCabecera: [],
    tblDato: [],
  }),

  created() {
    /*
    let a = {
      JobStatus: "Success",
      Pages: 1,
      Tables: [
        {
          CharacterConfidence: 99.19,
          LayoutConfidence: 100.0,
          Page: 1,
          TableJson: {
            0: { 0: "A", 1: "ACTIVO", 2: "" },
            1: { 0: "AA", 1: "ACTIVO CORRIENTE", 2: "" },
            2: {
              0: "AAA",
              1: "Efectivo y Equivalentes de Efectivo",
              2: "6000260",
            },
            3: {
              0: "AAB",
              1: "Deudores comerciales y Otras Cuentas por Cobrar (Netos)",
              2: "43920367",
            },
            4: {
              0: "AAC",
              1: "Cuentas por cobrar Empresas Relacionadas",
              2: "419146",
            },
            5: { 0: "AAD", 1: "Inversiones", 2: "1930168" },
            6: {
              0: "AAE",
              1: "Inventario (Materiales, Suministros, etc.)",
              2: "3761046",
            },
            7: { 0: "AAF", 1: "Pagos por Anticipado", 2: "1201493" },
            8: { 0: "AAG", 1: "Impuestos Corrientes", 2: "5812361" },
            9: { 0: "AAH", 1: "Otros Activos financieros", 2: "1151963" },
            10: { 0: "AB", 1: "ACTIVO NO CORRIENTE", 2: "" },
            11: {
              0: "ABA",
              1: "Propiedades, Planta y Equipo (Neto)",
              2: "122335946",
            },
            12: {
              0: "ABB",
              1: "Activos por derechos de Uso(neto)",
              2: "9431198",
            },
            13: { 0: "ABC", 1: "Cuentas por cobrar a LP", 2: "1082986" },
            14: { 0: "ABD", 1: "Inversiones", 2: "883449" },
            15: { 0: "ABE", 1: "Activos intangibles", 2: "6953135" },
            16: { 0: "ABE", 1: "Impuestos Diferidos", 2: "2894282" },
            17: { 0: "B", 1: "PASIVO", 2: "" },
            18: { 0: "BA", 1: "PASIVO CORRIENTE", 2: "" },
            19: {
              0: "BAA",
              1: "Acreedores comerciales; y Otras Cuentas por Pagar",
              2: "38196525",
            },
            20: {
              0: "BAB",
              1: "Porci\u00e9n de los Pr\u00e9stamos a Largo Plazo con vencimiento a corto plazo",
              2: "5000000",
            },
            21: {
              0: "BAC",
              1: "Obligaciones Emisi\u00e9n de Titulosyalores",
              2: "0",
            },
            22: {
              0: "BAD",
              1: "Cuentas por Pagar Empresas Relacionadas",
              2: "307267",
            },
          },
        },
      ],
    };

    let response = {
      JobId: "eac8d42878039ab6a3596a5d1aeace045f1b4858cc338acf1a8dd7572121b364",
      JobStatus: "Processing",
      message: "Check the status using the JobId after 10 seconds",
    };
    this.cargarTabla(response);
    */
  },

  methods: {
    realizarPeticion() {
      if (!this.apiKey) {
        this.snack = true;
        this.snackColor = "error";
        this.snackText = "Clave requerida";
        return;
      }
      if (this.files.length == 0) {
        this.snack = true;
        this.snackColor = "error";
        this.snackText = "Imagen requerida";
        return;
      }

      axios
        .get(
          "https://cors-anywhere.herokuapp.com/https://validator.extracttable.com/",
          {
            headers: {
              "x-api-key": this.apiKey,
            },
          }
        )
        .then((response) => {
          console.log(response);
          this.loading = true;
          this.realizarPost();
        })
        .catch((error) => {
          this.snack = true;
          this.snackColor = "error";
          this.snackText = error.response.data.Reason;
          console.error(error.response);
        });
    },

    mostrarCredito() {
      this.loading = true;
      axios
        .get(
          "https://cors-anywhere.herokuapp.com/https://validator.extracttable.com/",
          {
            headers: {
              "x-api-key": this.apiKey,
            },
          }
        )
        .then((response) => {
          console.log(response);
          this.snack = true;
          this.snackColor = "";
          this.snackText = `Utilizados ${response.data.usage.used} de ${response.data.usage.credits}`;
          this.loading = false;
        })
        .catch((error) => {
          this.snack = true;
          this.snackColor = "error";
          this.snackText = error.response.data.Reason;
          console.error(error.response);
        });
    },

    consultarJob() {
      this.loading = true;
      axios
        .get(
          "https://cors-anywhere.herokuapp.com/https://getresult.extracttable.com/",
          {
            params: {
              JobId: this.jobID,
            },
            headers: {
              "x-api-key": this.apiKey,
            },
          }
        )
        .then((response) => {
          console.log(response);
          this.snack = true;
          this.snackColor = "";
          this.snackText = `Datitos`;
          this.loading = false;
          this.cargarTabla(response.data);
        })
        .catch((error) => {
          this.snack = true;
          this.snackColor = "error";
          this.snackText = error.response.data.message;
          console.error(error.response);
          this.loading = false;
        });
    },

    realizarPost() {
      let formData = new FormData();
      formData.append("input", this.files);
      axios
        .post(
          "https://cors-anywhere.herokuapp.com/https://trigger.extracttable.com/",
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
              "x-api-key": this.apiKey,
            },
          }
        )
        .then((response) => {
          console.log(response);
          this.cargarTabla(response.data);
        })
        .catch((error) => {
          console.error(error.response);
          this.snack = true;
          this.snackColor = "error";
          this.snackText = "Ocurrio un error";
          this.loading = false;
        });
    },

    cargarTabla(response) {
      if (response.JobStatus == "Processing") {
        this.jobID = response.JobId;
        this.snack = true;
        this.snackColor = "";
        this.snackText = "Procesando los datos consulte en 10 segundos";
        return;
      }

      if (!response.hasOwnProperty("Tables")) {
        this.snack = true;
        this.snackColor = "error";
        this.snackText = "No se ha encontrado una estructura en forma de tabla";
        return;
      }

      this.tblDatoCabecera = [];
      this.tblDato = [];
      let maxLength = 0;
      let tablaEncontrada = response.Tables;
      let columna = {};

      //Unificar tablas
      tablaEncontrada.forEach((table) => {
        Object.values(table.TableJson).forEach((val) => {
          if (Object.keys(val).length > maxLength) {
            maxLength = Object.keys(val).length;
          }
          Object.assign(val, { accion: "" });
          this.tblDato.push(val);
        });
      });

      //Crear cabecera
      for (let index = 0; index < maxLength; index++) {
        columna = {
          text: `Columna ${index}`,
          align: "start",
          sortable: false,
          value: index.toString(),
        };
        this.tblDatoCabecera.push(columna);
      }
      this.tblDatoCabecera.push({
        text: "Accion",
        align: "center",
        sortable: false,
        value: "accion",
      });

      this.loading = false;
      console.log(JSON.stringify(this.tblDatoCabecera));
      console.log(JSON.stringify(this.tblDato));
    },

    eliminar(item) {
      let indiceEliminar = this.tblDato.indexOf(item);
      this.tblDato.splice(indiceEliminar, 1);
      this.snack = true;
      this.snackColor = "info";
      this.snackText = "Fila eliminada";
    },

    descargar() {
      this.loading = true;
      if (this.tblDato.length == 0) {
        this.snack = true;
        this.snackColor = "error";
        this.snackText = "No hay datos para exportar";
        this.loading = false;
        return;
      }

      let datosExportar = [];
      datosExportar = this.tblDato;
      axios
        .post("/exportar-analisis", datosExportar)
        .then((response) => {
          console.log(response.data.ruta);
          window.location.href = response.data.ruta;
          this.snackText = "Archivo generado.";
          this.snackColor = "info";
          this.snack = true;
        })
        .catch((error) => {
          console.log(error);
          this.snackText = "Ocurrio un error al generar el archivo.";
          this.snackColor = "danger";
          this.snack = true;
        });

      this.loading = false;
    },
  },
};
</script>